@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

/* 공통 부분 */
* { margin: 0; padding: 0; box-sizing: border-box;  }
#wrap{ width: 100%; min-width: 980px; height: 100% ; }

h1, h2, h3, h4, h5, h6 {
    font-weight: normal; font-size: inherit;
}

.clear:after { content:""; display: block; clear: both; }

ul, ol, li { list-style: none; }


a { text-decoration: none; }
a:link { color: black; }
a:visited { color: black; }
a:hover { color: rgb(81,39,113); }
a:focus { color: rgb(81,39,113);; }

body { font-family: 'Nanum Gothic', sans-serif; height: 100%; font-size: 16px; letter-spacing: -1px; color: #444; white-space: normal; word-wrap: break-word; line-height: 1; }

img, a { border: none; }

img { vertical-align: middle; }

.float_left {
    float: left; 
}

.float_right {
    float: right; 
    display:inline-block;
}

/*서브 공통 부분*/

input, select, textarea, button, form, img, label { 
    vertical-align: middle; }

input[type=text], input[type=button], input[type=date], select  { height: 30px; padding: 0 10px;  margin: 5px 0 ; border:1px solid #ccc; background-color: #fff;font-size: 12px; line-height: normal;}

select { width: 180px; height: 29px; padding : 0 5px;  }

.btn_line{ margin-top: 20px; text-align: center; }


.btn_basecolor1 { display: inline-block; width: 130px; text-align: center; height: 40px;  font-size: 15px; line-height: 40px; border : 0 ; outline: 0 ; vertical-align: middle; background: #795b8f; color: #fff; margin-right: 10px;  }

.btn_basecolor2 { display: inline-block; width: 130px; text-align: center; height: 40px;  font-size: 15px; line-height: 40px; 
border : 0 ;  outline: 0 ;vertical-align: middle; background: #fff; border:1px solid #ccc; color: #795b8f; }

/* 헤더 */
#header {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: nowrap; 
    justify-content: space-between;
    line-height: 50px;
    font-weight: bolder;
    padding: 0 20px 0 0 ; 
    background-color: rgb(81,39,113);
}

.header #logo_area {width: 100px; height:50px; ;}

#kurly_logo {
    margin:0; padding:0 ; 
    width: auto; 
    height:33px;     
}

.header_menu {vertical-align: center;  }

#header_menu1 > ul > li {
    color : #fff; 
    font-size: 18px; 
    float: left;

}
#header_menu2 > ul > li {
    margin: 0 5px;
    font-size: 12px;
    float: left;
}


#header_menu2 a { text-decoration: none; }
#header_menu2 a:link { color: #fff; }
#header_menu2 a:visited { color: #fff; }
#header_menu2 a:hover { color: #fff; }
#header_menu2 a:focus { color: #fff;; }

/* 컨테이너 */ 
.container {
    background-color:rgb(118,87,129) ;
    width: 100%; 
}

/*사이드메뉴 */
.side_menu { 
    width: 15%; 
    height: 100%;
    /* background-color: rgb(105,77,115); */
    float: left;
}

.side_menu .hr {
    width: 90%;
    height: 1px; 
    background-color:  rgb(138,112,147); 
    margin: 0 auto;
}

.side_menu #profile_area { 
    width:100%; 
    height: 110px; 
    background-color:rgb(105,77,115) ;
    border-bottom: 1px solid rgb(97,54,110); 
}

.side_menu #pro_file{
    display: block; 
    margin: 0 auto; 
    padding: 20px;}

.side_menu .menutab{
    color: #fff; 
    font-size: 13px;
    padding: 12px 10px 10px 25px;
    line-height: 25px;
    /* border: 1px solid rgb(129,105,137);  */
}

.side_menu a { text-decoration: none; }
.side_menu a:link { color: #fff; }
.side_menu a:visited { color: #fff; }
.side_menu a:hover { color: rgb(72,21,98); }
.side_menu a:focus { color: rgb(72,21,98); }

/*현재 페이지 선택 */
.side_menu .__activepage {
    background-color:rgb(105,77,115) ;
}

.side_menu  .__activepage1{ 
    color:rgb(72,21,98) !important;

}
/* 현재 페이지 선택 끝 */


.side_menu .menutab ul { 
    width: 180px;
}

.side_menu .menutab img {
    margin-top: 10px;
    margin-right: 10%;
    width: 15px; 
    float: right; 
}

.side_menu .category { 
    font-size: 15px;
    font-weight: bold;
}


    
/*푸터*/
.footer {
    width: 100%; 
    height: 70px;
    background-color: rgb(237,240,245); 
}

.footer_menu { 
    height: 50px;
    background-color: #fff;
    padding: 15px 30px;
    margin: 15px 25px;   
}
.footer_list{ 
    margin: 0 auto; 
    text-align:center;
}

.footer_list li  {
    display:inline-block;
    margin: 0 3% ;
    font-size: 14px;
    font-weight: normal;
    vertical-align: center;
    text-align:center;
    
}


.footer_list li a { text-decoration: none; }
.footer_list li a:link, .footer_list li a:visited { color: black; }
.footer_list li a:hover { color: rgb(81,39,113); }
.footer_list li a:focus { color: rgb(81,39,113);; }



/*컨텐츠*/

/*상품 조회 페이지(productcheck.html)*/

.container #content { 
    float: left; 
    width: 85%;

    background-color: rgb(237,240,245); 
}

.container .title {
    width: 100%;
    height: 60px;
    padding: 20px;
    background-color: #fff;  
    font-size: 18px;
    font-weight: bolder;
    box-sizing: border-box;
}

.container .quickcheck { 
    height: 70px;
    background-color: #fff;
    padding: 15px 25px;
    margin: 25px 25px 15px 25px;
}

.container .quickcheck li {
    margin: 0 5px;
    font-size: 13px;
    float: left;
    vertical-align: center;
}


.container .quickcheck li .quickmenu {
    height: 60px;
}

.container .quickcheck li .quickimg { 
    width: auto; 
    height: 40px; 
    float: left; 
    
}
.container .quickcheck li .prod_state {
    display: inline-block;
    width: 70px;
    line-height: 20px;
    padding: 0 10px;
    
}

.container .quickcheck li .prod_state > span {
    font-size: 20px;
    font-weight: bolder;
}



/*필터*/

.regForm .reg_list {
    padding: 20px;
    background-color: rgb(248,249,253);
    margin: 15px 25px;
}

.regForm .reg_list .hr {
    width: 100%;
    height :1px; 
    background-color:  rgb(232,237,241); 
    margin: 0 auto;
}


.regForm .reg_list li .tit_lbl { 
    float: left;
    width: 150px; 
    padding-left: 20px; 
    line-height: 65px; 
    font-weight: bold; 
    font-size: 12px;
}

.regForm .reg_list li #search_tit { 
    line-height: 45px;
}
.regForm .reg_list li .search_box {
    margin-bottom: 10px;
    font-size: 12px;
}
.regForm .reg_list li .select_sales {     
    line-height: 60px; 
    font-size: 12px;
}
.regForm .reg_list li .select_sales .space {
    margin-right: 10px;

}

.regForm .reg_list li .select_category1 , .regForm .reg_list li .select_category2 {
    line-height: 60px; 
    float:left;
    margin-right: 10px;
}



.select_category2 select {background-color:rgb(234,235,240); }

.regForm .reg_list li .select_duration {
    line-height: 60px; 
    float:left;
}

.regForm .reg_list li .select_duration select { width: 100px; height: 29px; padding : 0 5px; }


/*목록*/
.listview { 
    background-color: #fff;
    padding: 15px 25px;
    margin: 15px 25px;
}

.listview .subtitle {
    height: 45px;
    padding: 10px; 
    
}

.listview .subtitle h3{ 
    font-size: 14px;
    font-weight: bolder;
}

.listview .subtitle h3 span {
    font-size: 15px;
    color: #795b8f; 
}
.listview .hr {
    width: 100%;
    height :1px; 
    background-color:  rgb(232,237,241); 
    margin: 0 auto;
}


.listview select { width: 100px; height: 29px; padding : 0 5px;  }

.bssBox {
    width:100% ; 
    font-size: 12px;
}

.bbsListTbl a:link { text-decoration: underline; }

.bbsListTbl { width: 100%; border-top: 2px solid #795b8f; }

.bbsListTbl img { width: 15px; height: auto; }

.bbsListTbl th, .bbsListTbl td {  height: 30px;}

.bbsListTbl th { border-bottom: 1px solid #ccc; background-color: rgb(248,249,253); line-height: 40px; }
.bbsListTbl td { text-align: center; border-bottom: 1px solid #ccc; line-height: 40px; }


.bbsListTbl td .bbs_btn {
    display: inline-block;
    width: 35px; height: 20px;
    padding: 0; margin: 0; 
    background-color:rgb(248,249,253) ;
}

input[type=text], input[type=button], input[type=date], select  { height: 30px; padding: 0 10px; 
    margin: 5px 0 ;
      border:1px solid #ccc; background-color: #fff;font-size: 12px; line-height: normal;}


/* 페이징 버튼 */

.pagination {
    clear:both;text-align:center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.pn_firstpage {
    background: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-first.png);
}

.pn_prevpage {
    background-image: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-prev.png);
}

.pn_nextpage {
    background-image: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-next.png);
}

.pn_lastpage {
    background-image: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-last.png);
}

.pn_firstpage, .pn_prevpage, .pn_nextpage, .pn_lastpage  {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-indent: -9999px;
}

.pn_btn {
    display: inline-block;
    width: 34px;
    height: 34px;
    border: 1px solid #ddd;
    vertical-align: top;
    font-size: 14px;
}

.pn_num:link, .pn_num:visited {
    background-color: #fff;
    color: black;
    line-height: 34px;
}


.pn_num:hover, .pn_num:focus, .__active {
    background-color: #f7f7f7;
    color: #5f0080;
    line-height: 34px;
}



/* 공지사항 조회(noticecheck.html) */

.tit_lbl_search {    
    width: 150px; 
    padding-top: 5px;
    padding-left: 20px; 
    font-weight: bold; 
    font-size: 12px;
    line-height: 36px;
    float: left;
}

.search_detail {
    line-height: 30px;
    padding: 10px 0 ; 
}

/*주문 조회(ordercheck.html)*/
.o_tit_lbl_search{
    width: 150px; 
    padding-top: 10px;
    padding-left: 20px; 
    font-weight: bold; 
    font-size: 12px;
    line-height: 36px;
    float: left;
}

.o_search_detail{
    line-height: 30px;
}


/*배송 현황*/

.regForm .reg_list li .search_box select { width: 100px; height: 29px; padding : 0 5px; }


/*내 정보*/

.myinfo .reg_list {
    padding: 30px 35px 15px;
    background-color: #fff;
    margin: 15px 25px;
    font-size: 12px;

}

.myinfo  .my_subtitle {
 font-size: 14px;
 font-weight: bolder;
 margin-bottom: 20px;
}


.myinfo .reg_list .hr {
    width: 100%;
    height :1px; 
    background-color:  rgb(232,237,241); 
    margin: 0 auto;
}


.myinfo .reg_list li .my_tit_lbl { 
    float: left;
    letter-spacing: 1px;
    width:100px; 
    line-height: 50px; 
    font-weight: bold; 
    font-size: 12px;
    }

.myinfo .reg_list li .my_content {
    width: 400px;
    float:left;
    line-height: 50px;
    padding-left: 10px;
    font-size: 12px;
}


/*대시보드*/
.dash_title  { 
    padding: 15px; 
}
.dash_title img {
    width: 22px; 
}
.dash_title p {
    font-size: 14px;
    margin-left:20px;
}
.dash_cont{
    margin: 0 10px;
}

.dash_box  {
    width: 23%; 
    float: left; 
    height: 200px;
    padding: 20px;
    background-color: #fff;
    margin: 15px 0 0 15px;
    font-size: 12px;
}

.dash_box  .dash_subtitle {
 font-size: 14px;
 font-weight: bolder;
 margin-bottom: 15px;
}


.dash_box li .dash_tit_lbl { 
    float: left;
    letter-spacing: 1px;
    width:50% ; 
    line-height: 22px; 
    font-size: 12px;
    }

.dash_box li .dash_content {
    width:50% ; 
    float:right;
    text-align: right;
    line-height: 22px; 
    padding-left: 10px;
    font-size: 12px;
    color: #5f0080; 
    font-weight: bold; 
}

/*공지사항 등록*/
.notice_add .reg_list {
    background-color: #fff;
    padding:20px;
}


.notice_add .reg_list .hr {
    width: 100%;
    height :1px; 
    background-color:  rgb(232,237,241); 
    margin: 0 auto;
}


.notice_add .reg_list li .noti_tit_lbl { 
    float: left;
    width: 150px;
    padding-left: 20px; 
    line-height: 60px; 
    font-weight: bold; 
    font-size: 12px;
    }

.notice_add .reg_list li .noti_content {
    width: 500px;
    height: 300px;
    float:left;
    border: 1px solid rgb(232,237,241);
    font-size: 12px;
    margin-top: 20px; 

}

.noti_content_tab1, .noti_content_tab2 {
width: 50%;
height: 40px;
float: left; 
text-align: center;
line-height: 40px;

}

.noti_content .__active{
border-bottom: 1px solid #5f0080;}

.notice_add .reg_list li .title_box {
    float:left;
    margin-top:10px; 
    font-size: 12px;
}


.notice_add .reg_list li .title_box {
    float:left;
    margin-top:10px; 
    font-size: 12px;
}


.notice_add .reg_list li .space {
    margin-right: 10px;

}
.notice_add .reg_list li .title_box input[type=text] { 
    width: 500px; 
}