/* 본 css 파일은  

회사소개, 
레시피, 레시피 상세페이지, 
상품문의글 작성페이지, 
마이페이지의 주문내역 상세페이지 등의 추가된 html의 css 입니다.
*/


/* ======================================== 회원탈퇴 페이지 시작 ======================================== */
.member_hack .info {
    padding-top: 20px;
    font-size: 14px;
    color: #666;
    line-height: 22px;
}

.member_hack .info .emph {
    display: block;
    padding: 19px 0 12px;
    color: #5f0080;
}

/* ↓ .member_join th의 내용이 삭제시 회원탈퇴 페이지 메인내용이 틀어집니다! 수정금지! */
.member_join th {
    width: 159px;
    padding: 20px 0 0 20px;
    font-weight: 700;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    vertical-align: top;
    text-align: left;
}


.member_hack textarea {
    width: 100%;
}

.type_form textarea {
    height: auto;
    padding-top: 13px;
    resize: none;
}

.member_join .form_footer {
    padding-top: 40px;
    text-align: center;
}

.type_form .btn.default {
    border: 1px solid #5f0080;
    background-color: #fff;
    color: #5f0080;
}

.type_form .btn.active {
    border: 1px solid #5f0081;
    background-color: #5f0080;
    color: #fff;
}

.member_join .btn {
    display: inline-block;
    width: 120px !important;
    margin-left: 5px;
    vertical-align: top;
}

.type_form .btn {
    /* display: block; */
    width: 30%;
    height: 44px;
    border: 0;
    border-radius: 3px;
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    outline: none;
}
/* ======================================== 회원탈퇴 페이지 종료 ======================================== */





/* ======================================== 컬리소개 페이지 시작 ======================================== */

.introduce_kurly {
    padding-top: 30px;
    font-family: noto sans KR;
    font-weight: 400;
}

.introduce_kurly .about_navi {
    width: 1050px;
    margin: 0 auto 20px;

    /* 문제 발생시 여백조정하기!!!!!!!!!!!!! */
    margin-bottom: 4.3%;
}

.introduce_kurly .about_navi .opt_kurly {
    position: relative;
    float: left;
}

.selection {
    position: relative;
    width: 310px;
}

.select_hide .select_selected {
    background-color: #fff;
    color: #514859;
}

.select_selected {
    cursor: pointer;
    border: 1px solid #e3e3e3;
    font-size: 14px;
    height: 44px;
    line-height: 43px;
    padding: 0 12px;
    background-color: #f3f2f4;
    color: #512772;
}

.select_hide .select_selected:after {
    border-top-color: #1dcdbc;
    background: url(../img/EtcImage/btn_off.webp);
}

.select_selected:after {
    position: absolute;
    right: 0;
    top: 0;
    width: 44px;
    height: 44px;
    background: url(../img/EtcImage/btn_on.webp);
    content: '';
}

.category_introduce {
    display: none;
    position: absolute;
    left: 0;
    top: 44px;
    width: 310px;
    font-size: 14px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #dddfe1;
    color: #000;
    z-index: 1;
}

.category_introduce .list_introduce li {
    overflow: hidden;
}

.category_introduce .list_introduce .link_kurly_intro.link_on {
    color: #512772;
    font-weight: 700;
}

.category_introduce .list_introduce .link_kurly_intro {
    display: block;
    overflow: hidden;
    margin: 0 10px;
    padding: 12px 5px 12px 10px;
    border-bottom: 1px solid #dddfe1;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

.category_introduce .txt_kurly_intro {
    display: inline-block;
    position: relative;
}

.category_introduce .list_introduce .standard_inner_menu .link_kurly_intro {
    margin-bottom: 5px;
    border-bottom: 0;
}

.category_introduce .txt_kurly_intro {
    display: inline-block;
    position: relative;
}

.category_introduce .list_introduce .introduce_submenu {
    float: left;
    padding: 0 0 15px 29px;
}

.category_introduce .introduce_submenu .tit_intro_sub {
    display: block;
    padding: 0 5px;
    font-size: 12px;
    font-weight: 400;
    color: #514859;
}

.category_introduce .introduce_submenu .list_submenu {
    margin-top: 5px;
}

.category_introduce .list_submenu li {
    overflow: visible;
    position: relative;
    margin: 12px 5px 0;
    border-bottom: 0;
}

.category_introduce .list_submenu .link_submenu {
    display: block;
    position: relative;
    font-size: 12px;
}

.category_introduce .list_introduce .standard_inner_menu+li .link_kurly_intro {
    border-top: 1px solid #dddfe1;
}

.introduce_kurly .about_naviyy:after {
    content: "";
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    clear: both;
}

.introduce_kurly .about_navi .navi_kurly {
    float: right;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
}

.introduce_kurly .info_navi {
    overflow: hidden;
}

.intro_kurly {
    padding-top: 20px;
    color: #000;
}

.banner {
    display: block;
    height: 400px;
    background: #fff url(../img/EtcImage/intro_main_v2.webp) no-repeat 50% -100px;
}

.introduce_kurly .intro_kurly .tit_intro {
    font-size: 34px;
    text-align: center;
    font-weight: 700;
}

.introduce_kurly .intro_text {
    padding: 45px 0 0;
    font-size: 18px;
    font-weight: 200;
    line-height: 28px;
    text-align: justify;
}

.banner2 {
    display: block;
    height: 400px;
    background: #fff url(../img/EtcImage/intro_main2_v2.webp) no-repeat 50% -100px;
}

.introduce_kurly .info_box {
    width: 1050px;
    margin: 0 auto;
    padding: 56px 0 110px;
}

.kurly_more_menu {
    width: 1050px;
    margin: 0 auto;
}

.kurly_more_menu .list_menu li:first-child {
    margin-top: 0;
}

.kurly_more_menu .list_menu li {
    overflow: hidden;
    display: table;
    margin-top: 30px;
}

.kurly_more_menu .img_thumb {
    display: block;
}

.kurly_more_menu .kurly_menu_info {
    display: table-cell;
    width: 670px;
    padding-left: 50px;
    font-size: 20px;
    vertical-align: middle;
}

.kurly_more_menu .tit_menu {
    padding: 0 0 15px;
    font-size: 20px;
    color: #512772;
}

.kurly_more_menu .menu_info {
    padding-top: 15px;
    border-top: 1px solid #dddfe1;
    line-height: 24px;
    font-size: 16px;
    font-weight: 200;
    color: #514859;
    text-align: justify;
}

.kurly_more_menu .link_more {
    display: block;
    margin-top: 20px;
    font: 14px noto sans KR;
    font-weight: 700;
    color: #512772;
}

.kurly_more_menu .txt_more {
    position: relative;
    display: inline-block;
}

.kurly_more_menu .txt_more:after {
    content: '';
    position: absolute;
    right: -15px;
    top: 5px;
    width: 8px;
    height: 11px;
    vertical-align: top;
    background-image: url(../img/EtcImage/ico_arrow.webp);
    background-repeat: no-repeat;
    background-size: 8px 11px;
}

.kurly_more_menu .ico_redirect {
    display: inline-block;
    width: 14px;
    height: 15px;
    margin: 2px 0 0 5px;
    vertical-align: top;
    background: url(../img/EtcImage/img_link.webp);
}


/* ======================================== 컬리소개 페이지 종료 ======================================== */








/* ======================================== 레시피 - 전체보기 등등의 페이지 시작 ======================================== */

.page_aticle {
    width: 1050px;
    margin: 0 auto;
}

#lnbMenu {
    padding-top: 26px;
}

#lnbMenu .inner_lnb {
    position: relative;
    padding-left: 29px;
}

#lnbMenu .ico_cate {
    overflow: hidden;
    width: 100%;
    height: 50px;
    padding-bottom: 10px;
}

#lnbMenu .ico_cate .tit {
    float: left;
    padding: 20px 0 0 4px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    color: #000;
    letter-spacing: -.3px;
}

#lnbMenu .list {
    overflow: hidden;
    width: 870px;
}

#lnbMenu li {
    float: left;
}

#lnbMenu li a:hover, #lnbMenu li .on {
    border-bottom: 1px solid #5F0080;
}

#lnbMenu li a:hover, #lnbMenu li .on {
    font-weight: 700;
    color: #5f0080;
}

#lnbMenu li a {
    overflow: hidden;
    float: left;
    padding: 0 13px 7px 12px;
    border-bottom: 1px solid #ddd;
    line-height: 20px;
    font-size: 12px;
    color: #333;
    letter-spacing: -.3px;
    cursor: pointer;
}

.layout-wrapper {
    position: relative;
    width: 1050px;
    height: 100%;
    margin: 0 auto;
}

#recipe.wrap {
    padding: 30px 29px;
}

#recipe_table .recipe_tr td {
    margin-left: 30px;
}

#recipe .recipe_item {
    width: 480px;
    height: 550px;
    margin-bottom: 30px;
    border: 1px solid #f4f4f4;
}

#recipe .recipe_item img {
    border-bottom: 1px solid #f4f4f4;
}

#recipe .recipe_item .tit_recipe {
    width: 480px;
    height: 70px;
    padding: 25px 0 25px 30px;
    text-align: left;
    font-size: 22px;
    line-height: .6;
}

.layout-pagination-button {
    display: inline-block;

    /* 문제 발생시 width를 34px(기존)로 부여하기!!!!!! */
    width: 36px !important;
    height: 34px;
    border: 1px solid #ddd ;
    border-left: 0;
    vertical-align: top;
    text-align: center;
}

.xans-board-search .stxt {
    font-size: 14px;
}

/* ======================================== 레시피 - 전체보기 등등의 페이지 종료 ======================================== */












/* ======================================== 레시피 - 상세보기(apalf 페이지 시작 ======================================== */

.view_recipe {
    padding: 150px 10px 10px;
}

.goods_wrap {
    width: 1010px;
    margin: 0 auto;
    font-family: noto sans KR;
    font-weight: 200;
    letter-spacing: 0;
}

.goods_wrap .goods_recipe h3 {
    display: block;
    font-family: noto sans KR;
    font-weight: 700;
    padding-bottom: 70px;
    font-size: 50px;
    line-height: 46px;
    text-align: center;
    color: #666;
}

.goods_wrap .goods_recipe .recipe_tit {
    display: block;
    padding-bottom: 30px;
    font-family: noto sans KR;
    font-weight: 700;
    color: #666;
    text-shadow: 2px 0;
}

.goods_wrap .goods_recipe .recipe_product {
    display: inline-block;
    border-top: 1px solid #b1b1b1;
    padding-top: 30px;
    min-width: 342px;
    font-size: 34px;
    line-height: 38px;
    font-weight: 400;
    text-shadow: 1px 0;
}

.goods_wrap .context .words {
    margin-top: 55px;
    font-size: 18px;
    line-height: 32px;
    color: #373737;
}

.goods_wrap .goods_recipe .recipe_item_tit {
    display: block;
    padding-bottom: 20px;
    font-size: 24px;
    font-family: noto sans KR;
    font-weight: 700;
    color: #666;
    text-shadow: 1px 0;
}

.goods_wrap .goods_recipe .context .words+.words {
    margin-top: 60px;
}


/* RECIPEITEMS 부분 시작 */

#recipe_view {
    width: 100%;
}

.goods-add-product {
    margin-bottom: 50px;
}

.goods-add-product {
    position: relative;
}

.goods-add-product-title {
    text-align: left;
}

.goods-add-product-title:before {
    width: 20px;
    height: 5px;
    background-color: #000;
    display: block;
    content: '';
}

.__slide-wrapper {
    position: relative;
    overflow: hidden;
}

.goods-add-product-wrapper {
    position: relative;
    margin-top: 20px;
}

.goods-add-product-move.goods-add-product-move-left {
    left: 0;
    background-image: url(../img/EtcImage/slide-sub-left-button-black.webp);
    background-position: left;
}

.goods-add-product-move.goods-add-product-move-right {
    right: 0;
    background-image: url(../img/EtcImage/slide-sub-right-button-black.webp);
    background-position: right;
}

.goods-add-product-list-wrapper {
    position: relative;
    overflow: hidden;
    width: 940px;
    margin: 0 auto;
    height: 350px;
}

.__slide-mover {
    position: absolute;
    left: 0;
    width: 10000%;
    height: 100%;
}

.goods-add-product-item-figure {
    position: relative;
    height: 230px;
    overflow: hidden;
}

.goods-add-product-item-figure a {
    display: block;
}

.goods-add-product .btn_cart {
    display: block;
    overflow: hidden;
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 45px;
    height: 45px;
    margin-top: 15px;
    border: 0 none;
    background: url(../img/EtcImage/ico_list_add_cart.webp) no-repeat 50% 50%;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}

.goods-add-product-item-content {
    height: 120px;
}

.goods-add-product-item-content-wrapper {
    padding: 10px;
    position: relative;
    min-height: 75px;
}

.goods-add-product .goods-add-product-item-name {
    overflow: hidden;
    width: 100%;
    height: 35px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

.goods-add-product .goods-add-product-item-name {
    overflow: hidden;
    width: 100%;
    height: 35px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

.goods-add-product-item-price {
    font-size: 14px;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.goods-add-product-item-price {
    left: 35%;
}

/* 찜기능, 장바구니 css - 레시피 상세페이지 전용 입니다. 취합시 다른 곳이 깨질 수 있습니다.*/
.product_part .wish0 {
    position: absolute;
    right: 63px;
    bottom: 14px;
}

.product_part .wish1 {
    position: absolute;
    right: 63px;
    bottom: 14px;
}

.product_part .btn_cart {
    display: block;
    overflow: hidden;
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 45px;
    height: 45px;
    margin-top: 15px;
    border: 0 none;
    background: url(../img/EtcImage/ico_list_add_cart.webp) no-repeat 50% 50%;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}







/* RECIPEITEMS 부분 종료 */



.xans-board-movement li a, .xans-board-movement li strong {
    float: left;
    padding: 10px;
}


.bg_loading {
    position: fixed;
    z-index: 9998;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
}

.loading_show {
    position: fixed;
    z-index: 10000;
    top: 50%;
    left: 50%;
    margin: -16px 0 0 -16px;
    width: 32px;
    height: 32px;
    background: url(../img/EtcImage/img_loading_128x128.webp) no-repeat 50% 50%;
    background-size: 16px 16px;
}



/* 레시피 상세페이지의 장바구니 담기 */
#cartPut .cart_type3 {
    /* position: fixed; */
    z-index: 9999;
    left: 50%;
    top: 50%;
    width: 440px;
    max-height: 600px;
    margin-left: -220px;
    border-radius: 6px;
    background-color: #fff;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!! 자동으로 창이 안띄워지나, 클릭해도 뜨지 않음. 단, 장바구니 클릭시 팝업띄우게 설정은 해놨는데 안먹음 */
#cartPut .cart_type3{
    display: none;
}

#cartPut .cart_type3 .list .btn_position {
    display: block;
}





/* ======================================== 레시피 - 상세보기 페이지 종료 ======================================== */








/* ======================================== 마이컬리 - 주문내역 페이지 시작 ======================================== */

.mypage_top {
    width: 100%;
    padding: 50px 0;
    margin-bottom: -20px;
    background-color: #f7f7f7;
}

.mypage_top .mypagetop_user {
    overflow: hidden;
    width: 1050px;
    margin: 0 auto;
}

.mypage_top .bnr_event {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 60px;
    margin-top: 20px;
    background-size: 1050px 60px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.loading_show {
    position: fixed;
    z-index: 10000;
    top: 50%;
    left: 50%;
    margin: -16px 0 0 -16px;
    width: 32px;
    height: 32px;
    background: url(../img/EtcImage/img_loading_128x128.webp) no-repeat 50% 50%;
    background-size: 16px 16px;
}

.page_aticle.aticle_type2 .page_section {
    float: right;
    width: 820px;
}

/* ↓ 문제 발생시 삭제할것!!!!! */
.chk_cart {
    display: none;
}





















/* ======================================== 마이컬리 - 주문내역 페이지 종료 ======================================== */