/* ======================================== goods_list
 ======================================== */

#main { box-sizing: border-box; width: 1050px; margin: 0 auto;}
#content { width: 100%;}


/*세부 카테고리 바*/
.page_article #top_menu {margin-top: 30px; padding-left: 30px;}
.page_article #top_menu #top_logo_menu .logo img { width: 100%; height: 100%; }
.page_article #top_menu #top_logo_menu .logo{ width: 40px; height: 40px; float: left; }
.page_article #top_menu #top_logo_menu h3 { padding-top: 20px; padding-left: 45px; font-size: 14px; }


/*상단 메뉴 밑 가로줄*/
.page_article #top_menu ul{ clear: both; width: 870px;  } 
.page_article #top_menu ul .border { width: 580px; border-bottom: 1px solid #ccc; }
.page_article #top_menu ul li {display: inline-block; padding-top: 15px; padding-right: 20px; padding-bottom: 10px; font-size: 13px;}
.page_article #top_menu ul li:first-child { padding-left: 13px;}
.page_article #top_menu ul li a { color: #000; padding-bottom: 7px;}
.page_article #top_menu ul li a:active { color: #5f0080; font-weight: bold; border-bottom: 1px solid #5f0080;}



/* 품절 기능(토글버튼) */
.page_article #goodsList {position: relative;}
.page_article #goodsList #list_switch_name { position: absolute; right: 200px; top: -25px;}
.page_article #goodsList input{ display: none;}
/*기본 색*/
.page_article #goodsList label { display: inline-block; width: 42px; height: 25px; cursor: pointer; position: absolute; background-color: #ccc; right: 150px; top: -31.5px;}
.page_article #goodsList label::before { content: ""; display: block; width: 20px; height: 20px; position: absolute;  left: 5px; bottom: 3px; position: absolute; background-color: #fff; transition: all 0.4s linear;}
/*클릭하면 나오는색*/ 
.page_article #goodsList input:checked + label { background-color: #795b8f;}
/*박스 안에서 움직임: transform: translateX(65px)*/
.page_article #goodsList input:checked + label:before { transform: translateX(13px);}
/*밖 박스 */
.page_article #goodsList label.list_round { border-radius: 30px;}
/*안에*/
.page_article #goodsList label.list_round:before {border-radius: 50%;}

/* 정렬 기능 */
.page_article #goodsList #side_sort { position: absolute; right: 60px; top: -30px; }

/* 상품 배치 */
#goodsList_inner #goodsList_inner_box {position: relative; left: 28px; }
#goodsList_inner .goodsList_list li { float: left; width: 32%; padding-top: 25px; padding-right: 28px;}
#goodsList_inner .goodsList_list li:nth-child(3n+1) { clear: both;}
/*width가 100% -> 여기서는 30%에 싹 들어감*/
#goodsList_inner .goodsList_list li .product_photo img { display: block; width: 100%;}

/*장바구니 위치 설정*/
#goodsList_inner .goodsList_list li .product_part { position: relative;}
#goodsList_inner .goodsList_list li .product_part .chart_btn img { position: absolute; right: 20px; bottom: 15px;}

/* 찜기능 - 버튼 겹치게 설정 */
.turn_off { display: inline-block;}
.turn_on { display: none;}
#goodsList_inner .goodsList_list li .product_part .wish1 { position: absolute; right: 70px; bottom: 14px;}
#goodsList_inner .goodsList_list li .product_part .wish0 { position: absolute; right: 70px; bottom: 14px;}



/*상품 설명*/
#goodsList_inner .goodsList_list .item { margin-bottom: 60px;}
#goodsList_inner .goodsList_list li .product_info { display: block; padding: 14px 0 10px;}
#goodsList_inner .goodsList_list li .product_info .name { overflow: hidden; font-size: 20px; line-height: 29px; max-height: 58px; color: #333; }
#goodsList_inner .goodsList_list li .product_info #cost { display: block; padding-top: 7px; font-size: 18px; line-height: 29px; letter-spacing: 0.01em;}
#goodsList_inner .goodsList_list li .product_info #cost .sale { color: #fa622f;}
#goodsList_inner .goodsList_list li .product_info #cost .sale, .cost { font-weight: bold;}
#goodsList_inner .goodsList_list li .product_info #cost .before_sale { font-size: 16px; color: #999; text-decoration: line-through;}
#goodsList_inner .goodsList_list li .product_info .smalltip { display: block; padding-top: 8px; font-size: 13px; color: #999; line-height: 19px;}
#goodsList_inner .goodsList_list li .product_info .tag { display: block; padding: 12px 10px 10px 0px; cursor: default;}
#goodsList_inner .goodsList_list li .product_info .tag .limit_tag { display: inline-block; height: 22px; margin-right: 6px; padding: 0 8px; border-radius: 4px; background-color: #f3f3f3; font-size: 12px; line-height: 22px; vertical-align: middle; color: #5f0080; word-spacing: 0.1em;}
#goodsList_inner .goodsList_list li .product_info .sell_tag { display: block; padding: 12px 10px 10px 0px; cursor: default;}
#goodsList_inner .goodsList_list li .product_info .sell_limit_tag { display: inline-block; height: 22px; margin-right: 6px; padding: 0 8px; border-radius: 4px; background-color: #f3f3f3; font-weight: 700; font-size: 12px; line-height: 22px; vertical-align: middle; color: #666; }


/* 페이징(수정하기) */
.pagination { clear:both; text-align:center; vertical-align: middle;}

.pagination .pagination_div { margin: 0 auto; display: inline-block; margin-top: 30px; margin-bottom: 110px;} 

.pn_firstpage {
    background: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-first.png);
}

.pn_prevpage {
    background-image: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-prev.png);
}

.pn_nextpage {
    background-image: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-next.png);
}

.pn_lastpage {
    background-image: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-last.png);
}

.pn_firstpage, .pn_prevpage, .pn_nextpage, .pn_lastpage  {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-indent: -9999px;
}

.pn_btn {
    display: inline-block;
    width: 34px;
    height: 34px;
    border: 1px solid #ddd;
    vertical-align: top;
    font-size: 14px;
}

.pn_num:link, .pn_num:visited {
    background-color: #fff;
    color: black;
    line-height: 34px;
}


.pn_num:hover, .pn_num:focus, .__active {
    background-color: #f7f7f7;
    color: #5f0080;
    line-height: 34px;
}

/* ======================================== new_goods_list
 ======================================== */

/*세부카테고리 바*/
.new_article {  margin-top: 50px; }
.new_article #top_menu #new_logo_menu h3 { margin-left: 8px; }

/*세부카테고리 바 밑줄*/
.new_article #top_menu ul .new_border { width: 79px; border-bottom: 1px solid #5f0080;}
.new_article #top_menu ul .new_border a { color: #5f0080;}


/* ======================================== sale_goods_list
 ======================================== */
.new_article #sale_link { margin-bottom: 50px; }
