/*================================================마켓컬리 소개======================================================== */

html, body { height: 100%; }
html { -webkit-text-size-adjust: 100%; }
*, *:after, *:before { box-sizing: border-box; margin: 0; margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px; padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;}
html[Attributes Style] {
    -webkit-locale: "ko";
}
*, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, input, select, textarea, button { letter-spacing: -.05em; }
body { margin: 0; }
div, th, td, li, dt, dd, p { word-break: break-all; }
div { display: block; }
#main { border-bottom: 1px solid #f7f7f7; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(247, 247, 247); border-bottom: 1px solid #f7f7f7;}

#content { min-width: 1050px; padding-bottom: 120px;}
#header, #container, #content {
    position: relative;
}
.bnr_header { position: relative; min-width: 1050px; text-align: center; line-height: 42px; font-size: 14px;}
.bnr_header a { display: block; height: 42px; background-color: #5f0080; color: #fff;}
a {text-decoration: none;}

a:-webkit-any-link { cursor: pointer;}
.introduce_kurly { padding-top: 60px; font-family: noto sans; font-weight: 400; }
link { display: none;}
/*======================================컬리소개 메뉴 탭 (위에작은거)=========================================== */
.screen_out { display: block; overflow: hidden; position: absolute; left: -9999px; width: 1px; height: 1px; font-size: 0; line-height: 0; text-indent: -9999px;}

컬리소개 메인

.intro_kurly { color: #000; }

element.style { background-position: 50% -100px; background-position-x: 50%; background-position-y: -100px; }
.banner { display: block; height: 400px; background: #fff url(https://res.kurly.com/images/event/introduce/0720/pc/intro_main_v2.jpg) no-repeat 50% -100px; }

.introduce_kurly { margin-top:0px; padding-top:0px; }


.introduce_kurly .info_box {width: 1050px; margin: 0 auto; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; padding: 30px 0 90px; }

.info_box_btn {
    padding: 30px 10px 30px !important;
}
.introduce_kurly .intro_kurly .tit_intro { font-size: 34px; text-align: center; font-weight: 700;}
h3 {display: block; margin-block-start: 1em; margin-block-end: 1em; margin-inline-start: 0px; margin-inline-end: 0px;}
.introduce_kurly .intro_text {padding: 45px 0 0; padding-top: 45px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; font-size: 18px;font-weight: 200; line-height: 28px; text-align: justify; }
.introduce_kurly .about_navi .opt_kurly {
    position: relative;
    float: left;
}
.introduce_kurly {
    font-family: noto sans;
    font-weight: 400;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.banner2 {
    display: block;
    height: 400px;
    background: #fff url(https://res.kurly.com/images/event/introduce/0720/pc/intro_main2_v2.jpg) no-repeat 50% -100px;
}
.kurly_more_menu {
    width: 1050px;
    margin: 0 auto;
}
ol, ul {
    list-style-type: none;
}
/*-------------------------------------------------*/
/* ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
} */
.kurly_more_menu .list_menu li:first-child {
    margin-top: 0;
}
.kurly_more_menu .list_menu li {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    display: table;
    margin-top: 30px;
}
/*----------------------------------------------------*/
li {
    text-align: -webkit-match-parent;
}
.kurly_more_menu .img_thumb {
    display: block;
}
img {
    border: 0;
    border-top-color: initial;
    border-top-style: initial;
    border-top-width: 0px;
    border-right-color: initial;
    border-right-style: initial;
    border-right-width: 0px;
    border-bottom-color: initial;
    border-bottom-style: initial;
    border-bottom-width: 0px;
    border-left-color: initial;
    border-left-style: initial;
    border-left-width: 0px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

/*---------------------------------------------------------------*/
img, video, canvas {
    max-width: 100%;
}
img[Attributes Style] {
    width: 364px;
    aspect-ratio: auto 364 / 200;
    height: 200px;
}
.kurly_more_menu .kurly_menu_info {
    display: table-cell;
    width: 670px;
    padding-left: 50px;
    font-size: 20px;
    vertical-align: middle;
}
.kurly_more_menu .tit_menu {
    padding: 0 0 15px 0 ;
    margin:0; 
    font-size: 20px;
    color: #512772;
}
h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.kurly_more_menu .menu_info {
    padding-top: 15px;
    margin: 0;
    border-top: 1px solid #dddfe1;
    line-height: 24px;
    font-size: 16px;
    font-weight: 200;
    color: #514859;
    text-align: justify;
}
.kurly_more_menu .link_more {
    display: block;
    margin-top: 20px;
    font: 14px noto sans;
    font-weight: 700;
    color: #512772;
}
a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}
a:-webkit-any-link {
    cursor: pointer;
}
.kurly_more_menu .txt_more {
    position: relative;
    display: inline-block;
}
.kurly_more_menu .txt_more:after {
    content: '';
    position: absolute;
    right: -15px;
    top: 5px;
    width: 8px;
    height: 11px;
    vertical-align: top;
    background-image: url(https://res.kurly.com/images/event/introduce/0720/pc/ico_arrow.jpg);
    background-repeat: no-repeat;
    background-size: 8px 11px;
}
.kurly_more_menu .ico_redirect {
    display: inline-block;
    width: 14px;
    height: 15px;
    margin: 2px 0 0 5px;
    vertical-align: top;
    background: url(https://res.kurly.com/images/event/introduce/0720/pc/img_link.jpg);
}

 
.dropbtn {
    background-color: #fff;
    color: black;
    width: 300px;
    padding: 16px;
text-align: left;
padding-left: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
    font-weight: bold;
}

.dropdown a:hover { 
    color: #512772 ; 

    text-decoration: underline; 
    
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;

    width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 20px 16px;
    font-size: 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #ccc;
} 