/* ================================================== 공시사항, 샛별배송안내, 샛별배송안내 게시글 tit 시작
================================================== */
#content {
    min-width: 1050px;
    padding-bottom: 120px;
}

.tit_page {
    overflow: hidden;
    width: 1050px;
    margin: 0 auto;
    padding: 55px 0 46px;
}

.tit_page h2.tit {
    font-weight: 800;
    font-family: noto sans KR;
    font-size: 30px;
    color: #333;
    line-height: 50px;
    text-align: center;
    letter-spacing: -.5px;
}

.tit_page .sub {
    font-family: noto sans KR;
    font-size: 14px;
    color: #999;
    line-height: 20px;
    letter-spacing: -.3px;
    text-align: center;
}

/* ================================================== 공시사항, 샛별배송안내 게시글 tit 종료
================================================== */






/* ================================================== 공시사항, 샛별배송안내 게시글 시작
================================================== */
.layout-wrapper {
    position: relative;
    width: 1050px;
    height: 100%;
    margin: 0 auto;
}

.xans-myshop-couponserial {
    padding-bottom: 20px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.boardView {
    table-layout: fixed;
    border-top: 2px solid #333;
    border-bottom: 1px solid #f4f4f4;
    color: #333;
    line-height: 180%;
    margin-top: 20px;
}

.boardView th {
    width: 130px;
    padding: 13px 0 13px 20px;
    background-color: #f7f5f8;
    border-top: 1px solid #f4f4f4;
    text-align: left;
}

.boardView td {
    width: auto;
    padding: 13px 0 13px 23px;
    border-top: 1px solid #f4f4f4;
}

.boardView tr.etcArea td {
    padding: 0;
    border: 0;
}

.boardView tr.etcArea ul {
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    border-top: 1px solid #f4f4f4;
}

.boardView tr.etcArea ul li {
    float: left;
}

.boardView tr.etcArea ul .th {
    float: left;
    padding: 13px 0 13px 20px;
    width: 130px;
    background-color: #f7f5f8;
}

.boardView tr.etcArea ul .td {
    float: left;
    padding: 13px 0 13px 20px;
    width: 180px;
}

.xans-element-.xans-myshop.xans-myshop-couponserial .eng {
    display: none;
}

.xans-element-.xans-myshop.xans-myshop-couponserial td#contents .board_view_content {
    line-height: 25px;
}

.xans-element-.xans-myshop.xans-myshop-couponserial td#contents .board_view_content div {
    line-height: 25px;
}

element.style {
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-stretch: normal;
    line-height: normal;
    margin: 0px;
}

element.style {
    color: rgb(34, 34, 34);
    font-family: Font;
}

b, strong {
    font-weight: 700;
}

element.style {
    table-layout: fixed;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

.bhs_button.yb {
    background-color: #795b8f;
    color: #fff;
}

.bhs_button {
    width: 150px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    background-color: #795b8f;
    border: 1px solid #5f0080;
    color: #fff;
    font-size: 15px;
    float: right;
    margin-left: 2px;
    font-size: 13px;
}


/* ================================================== 공시사항, 샛별배송안내 게시글 종료
================================================== */





/* ================================================== 이전글, 다음글 버튼부분 시작
================================================== */
.xans-board-movement {
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    margin: 20px 0;
}

.xans-board-movement li a, .xans-board-movement li strong {
    float: left;
    padding: 10px;
}

.xans-board-movement li {
    overflow: hidden;
    padding: 0 20px;
    border-bottom: 1px solid #f4f4f4;
    line-height: 140%;
    color: #333;
}

.xans-board-movement li strong {
    width: 6%;
    /* padding-left: 15px; */
    border-right: 1px solid #f4f4f4;
    font-weight: 400;
    background: url(../img/gongjisahang_image/ico_move_prev.png) no-repeat 0 15px;
}

.xans-board-movement li.next strong {
    background: url(../img/gongjisahang_image/ico_move_next.png) no-repeat 0 15px;
}


/* ================================================== 이전글, 다음글 버튼부분 종료
================================================== */


















/* ================================================== 1:1 문의-게시글작성 부분 (css 추가 및 공지사항과 일치되는 항목은 제외) 시작
================================================== */
.page_aticle.aticle_type2 .page_section {
    float: right;
    width: 820px;
}

.page_aticle .head_aticle {
    padding: 5px 0 34px;
}

.page_aticle .head_aticle .tit {
    height: 36px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #333;
    letter-spacing: -.5px;
}

.page_aticle button, .page_aticle input, .page_aticle select, .page_aticle * {
    font-family: noto sans KR;
    font-weight: 400;
    letter-spacing: 0;
}

.xans-board-write .boardWrite2 {
    table-layout: fixed;
    border-top: 2px solid #333;
    line-height: 180%;
}

.xans-board-write table th {
    width: 110px;
    padding: 15px 0 15px 20px;
    background-color: #f7f5f8;
    border-bottom: 1px solid #f4f4f4;
    text-align: left;
    font-weight: 400;
    vertical-align: middle;
}

.boardWrite2 th {
    text-align: left;
    padding: 15px;
    background: #f7f5f8;
    vertical-align: middle;
}

.xans-board-write table td {
    width: auto;
    padding: 15px 0 15px 10px;
    height: 23px;
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    vertical-align: middle;
    line-height: 20px;
}

.xans-board-write table select {
    padding: 6px 5px;
    border: 1px solid #d9d9d9;
    margin-bottom: 5px;
    color: #202020;
}

.xans-board-write table input[type=text], .xans-board-write table input[type=password], .xans-board-write table textarea {
    height: 30px;
    line-height: 25px;
    border: 1px solid #d9d9d9;
    color: #202020;
}

.xans-board-write .boardWrite2 input[type=text].read_only {
    color: #949296;
}

.xans-board-write table input[type=text], .xans-board-write table input[type=password] {
    height: 25px;
    padding: 3px;
}

.boardWrite2 .smalle {
    position: relative;
}

.boardWrite2 .smalle input[type=checkbox] {
    position: relative;
    right: 2px;
    vertical-align: middle;
}

#qnaNotice {
    padding-bottom: 20px;
    font: 12px/20px 'Noto Sans KR';
    color: #4c4c4c;
}

#qnaNotice .tit {
    display: block;
    padding: 4px 0 10px;
    font-size: 12px;
    line-height: 20px;
    font-family: noto sans kr;
    font-weight: 700;
}

#qnaNotice .qna_goods {
    display: none;
}

#qnaNotice .list span {
    display: block;
    position: relative;
    padding-left: 9px;
}

#qnaNotice .list {
    padding-top: 10px;
}

#qnaNotice dt {
    font-family: noto sans KR;
    font-weight: 700;
}

#qnaNotice .list span:before {
    content: "- ";
    position: absolute;
    left: 0;
    top: 0;
}

.boardWrite2 td {
    padding-left: 5px;
}

/* ================================================== 1:1 문의-게시글작성 부분 (css 추가 및 공지사항과 일치되는 항목은 제외) 종료
================================================== */