@charset "utf-8"; /* 한글이 깨지지 않도록 선언 */

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap'); /* font-family: 'Nanum Gothic', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap'); /* font-family: 'Noto Sans KR', sans-serif; */

html[Attributes Style] {
    -webkit-locale: "ko";
}
/* body, input, select, textarea, button {
    font-family: noto sans,malgun gothic,AppleGothic,dotum;
    line-height: 1;
    letter-spacing: -.05em;
    color: #4c4c4c;
    font-size: 12px;
} */
#wrap {color: #646464;} 
.tit_recipe {color: #646464; font-weight: bold;}
head {
    display: none;
}
meta {
    display: none;
}
title {
    display: none;
}
script {
    display: none;
}
link {
    display: none;
}
style {
    display: none;
}

/* body, input, select, textarea, button { font-family: dotum; }
body, input, select, textarea, button {
    line-height: 1;
    letter-spacing: -.05em;
    color: #4c4c4c;
    font-size: 12px;
} */
#header, #container, #content {
    position: relative;
}


.bnr_header { font-size: 14px;}
b, strong {
    font-weight: 700;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
#main {
    border-bottom: 1px solid #f7f7f7;
}
/* ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
} */

body, input, select, textarea, button {
    font-family: 'Noto Sans KR', 'malgun gothic', 'AppleGothic';
}
#recipe.wrap {
    padding: 30px 29px;
}
table[Attributes Style] {
    width: 100%;
    margin-inline-start: auto;
    margin-inline-end: auto;
}
form {
    display: block;
    margin-top: 0em;
}
input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
}
input[type="hidden" i] {
    display: none;
    appearance: initial;
    background-color: initial;
    cursor: default;
    border: initial;
}
.bnr_header {
    line-height: 42px;

}
.bnr_header a {
    display: block;
    height: 42px;
    background-color: #5f0080;
    color: #fff;
}
#recipe_table .recipe_tr td {
    margin-left: 30px;
}
td[Attributes Style] {
    text-align: -webkit-left;
    vertical-align: top;
}
td {
    display: table-cell;
    vertical-align: inherit;
}
#recipe .recipe_item {
    width: 480px;
    height: 550px;
    margin-bottom: 30px;
    border: 1px solid #f4f4f4;
}
#recipe .recipe_item img {
    border-bottom: 1px solid #f4f4f4;
}
img[Attributes Style] {
    width: 480px;
    aspect-ratio: auto 480 / 480;
    height: 480px;
}
a { color: inherit;}
#recipe .recipe_item .tit_recipe {
    width: 480px;
    height: 70px;
    padding: 25px 0 25px 30px;
    text-align: left;
    font-size: 22px;
    line-height: .6;
    padding-left: 30px;
    padding-top: 5px;
}
/*----------------------------*/
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
/*************************************/

#recipe .recipe_item {
    width: 480px;
    height: 550px;
    margin-bottom: 30px;
    border: 1px solid #f4f4f4;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.xans-board-search2 {
    height: 80px;
    padding: 0;
}
.xans-board-search {
    margin-top: 30px;
    padding: 20px 0 20px 10px;
    color: #2e2e2e;
    font-size: 12px;
    clear: both;
    border-top: 1px solid #5e3d5a;
    width: 100%;
}
.xans-board-search .input_txt img {
    position: relative;
    right: 5px;
    top: -2px;
}
.xans-board-search .stxt {
    font-size: 14px;
}
.xans-board-search .stxt input {
    margin-left: 10px;
    margin-right: 3px;
    position: relative;
    top: 3px;
}
input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    border: initial;
}
.search_bt img {
    float: right;
}
.xans-board-search input[type=text] {
    height: 34px;
    line-height: 34px;
    width: 220px;
    border: 1px solid #bfbfbf;
    color: #000;
    float: right;
    padding: 4px;
}
#layerDSR .dsr_result {
    font-weight: 700;
}
#layerDSR .dsr_desc .emph {
    font-weight: 700;
}
