@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

/* 공통 부분 */
* { margin: 0; padding: 0; box-sizing: border-box;  }
#wrap{ width: 100%; min-width: 980px; height: 100% ; }

h1, h2, h3, h4, h5, h6 {
    font-weight: normal; font-size: inherit;
}

.clear:after { content:""; display: block; clear: both; }

ul, ol, li { list-style: none; }


a { text-decoration: none; }
a:link { color: #fff; }
a:visited { color: #fff; }
a:hover { color: #fff; }
a:focus { color: #795b8f;; }


body { font-family: 'Nanum Gothic', sans-serif; height: 100%; font-size: 16px; letter-spacing: -1px; color: #444; white-space: normal; word-wrap: break-word; line-height: 1; }

img, a { border: none; }

img { vertical-align: middle; }

.float_left {
    float: left; 
}

.float_right {
    float: right; 
    display:inline-block;
}

/*서브 공통 부분*/

input, select, textarea, button, form, img, label { 
    vertical-align: middle; }

input[type=text], input[type=button], input[type=date], select  { height: 30px; padding: 0 10px;  margin: 5px 0 ; border:1px solid #ccc; background-color: #fff;font-size: 12px; line-height: normal;}

select { width: 180px; height: 29px; padding : 0 5px;  }

.btn_line{ text-align: center; }


.btn_basecolor1 { display: inline-block; width: 130px; text-align: center; height: 40px;  font-size: 15px; line-height: 40px; border : 0 ; outline: 0 ; vertical-align: middle; background: #795b8f; color: #fff; margin-right: 10px;  }

.btn_basecolor2 { display: inline-block; width: 130px; text-align: center; height: 40px;  font-size: 15px; line-height: 40px; 
border : 0 ;  outline: 0 ;vertical-align: middle; background: #fff; border:1px solid #ccc; color: #795b8f; }

/* 헤더 */
#header {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: nowrap; 
    justify-content: space-between;
    line-height: 50px;
    font-weight: bolder;
    padding: 0 20px 0 0 ; 
    background-color: rgb(81,39,113);
}

.header #logo_area {width: 100px; height:50px; ;}

#kurly_logo {
    margin:0; padding:0 ; 
    width: auto; 
    height:33px;     
}

.header_menu {vertical-align: center;  }

#header_menu1 > ul > li {
    color : #fff; 
    font-size: 18px; 
    float: left;

}
#header_menu2 > ul > li {
    margin: 0 5px;
    font-size: 12px;
    float: left;
}


/*사이드메뉴 */
.side_menu { 
    width: 15%; 
    height: 100%;
    /* background-color: rgb(105,77,115); */
    float: left;
}

.side_menu .hr {
    width: 80%;
    height :1px; 
    background-color:  rgb(138,112,147); 
    margin: 0 auto;
}

.side_menu #profile_area { 
    width:100%; 
    height: 110px; 
    background-color:rgb(105,77,115) ;
    border-bottom: 1px solid rgb(97,54,110); 
}

.side_menu #pro_file{
    display: block; 
    margin: 0 auto; 
    padding: 20px;}

.side_menu .menutab{
    color: #fff; 
    font-size: 13px;
    padding: 12px 10px 10px 25px;
    line-height: 25px;
    /* border: 1px solid rgb(129,105,137);  */
 
}

.side_menu #tab3 {
    background-color:rgb(105,77,115) ;

}

.side_menu .menutab ul { 
    width: 180px;
}

.side_menu .menutab img {
    margin-top: 10px;
    width: 15px; 
    float: right; 
}

.side_menu .category { 
    font-size: 15px;
    font-weight: bold;
}



/* 컨테이너 */ 
.container {
    background-color:rgb(118,87,129) ;
    width: 100%; 
}

.container #content { 
    float: left; 
    width: 85%;
    background-color: rgb(237,240,245); 
}

.container .title {
    width: 100%;
    height: 60px;
    padding: 20px;
    background-color: #fff;  
    font-size: 18px;
    font-weight: bolder;
    box-sizing: border-box;
}

.container .quickcheck { 
    height: 70px;
    background-color: #fff;
    padding: 15px;
    margin: 10px 25px;
}

.container .quickcheck li {
    margin: 0 10px;
    font-size: 15px;
    float: left;
    vertical-align: center;
}


.container .quickcheck li .quickmenu {
    height: 60px;
}

.container .quickcheck li .quickimg { 
    width: auto; 
    height: 40px; 
    float: left; 
    
}
.container .quickcheck li .prod_state {
    display: inline-block;
    line-height: 20px;
    padding: 0 10px;
    
}

.container .quickcheck li .prod_state > span {
    font-size: 23px;
    font-weight: bolder;
}



/*필터*/

.regForm .reg_list {
    padding: 20px;
    background-color: rgb(248,249,253);
    margin: 10px 25px;
}

.regForm .reg_list .hr {
    width: 100%;
    height :1px; 
    background-color:  rgb(232,237,241); 
    margin: 0 auto;
}

.regForm .reg_list li .tit_lbl { 
    float: left;
    width: 150px; 
    padding-left: 20px; 
    line-height: 60px; 
    font-weight: bold; 
    font-size: 14px;
    }

.regForm .reg_list li #search_tit { 
    line-height: 80px; 
}
.regForm .reg_list li .search_box {
    margin-bottom: 10px;
    font-size: 12px;
}


.regForm .reg_list li #select_sales {     
    line-height: 60px; 
    font-size: 12px;
}
.regForm .reg_list li #select_sales .space {
    margin-right: 10px;

}

.regForm .reg_list li .select_category1 , .regForm .reg_list li .select_category2 {
    line-height: 60px; 
    float:left;
    margin-right: 10px;
}



.select_category2 select {background-color:rgb(234,235,240); }

.regForm .reg_list li .select_duration {
    line-height: 60px; 
    float:left;
}

.regForm .reg_list li .select_duration select { width: 100px; height: 29px; padding : 0 5px;  }


/*목록*/
.listview { 
    background-color: #fff;
    padding: 15px;
    margin: 10px 25px;
}

.listview .subtitle {
    height: 40px;
    padding: 10px; 
}

.listview .subtitle h3{ 
    font-size: 14px;
    font-weight: bolder;
}

.listview .subtitle h3 span {
    font-size: 15px;
    color: #795b8f; 
}
.listview .hr {
    width: 100%;
    height :1px; 
    background-color:  rgb(232,237,241); 
    margin: 0 auto;
}


.bssBox {
    width:100% ; 
    font-size: 12px;
}

.bbsListTbl { width: 100%; border-top: 2px solid #795b8f; }

.bbsListTbl th, .bbsListTbl td {  height: 30px;}

.bbsListTbl th { border-bottom: 1px solid #ccc; background-color: rgb(248,249,253); line-height: 40px; }
.bbsListTbl td { text-align: center; border-bottom: 1px solid #ccc; line-height: 40px; }

.bbsListTbl td .bbs_btn {
    display: inline-block;
    width: 35px; height: 20px;
    padding: 0; margin: 0; 
    background-color:rgb(248,249,253) ;
}


input[type=text], input[type=button], input[type=date], select  { height: 30px; padding: 0 10px;  margin: 5px 0 ; border:1px solid #ccc; background-color: #fff;font-size: 12px; line-height: normal;}

.pagination{ text-align: center;
    margin-top: 10px; }
.pagination span { font-size: 12px; 
    font-weight: bold; color: black;}

/*푸터*/
.footer {
    width: 100%; 
    height: 50px;
}
.footer_side {
    width: 15%; 
    height: 100%;
    background-color:rgb(118,87,129) ;
    float: left;
}

.footer_box { 
    background-color: rgb(237,240,245); 
    padding: 15px;

}

.footer_list li  {
    margin: 0 20px ;
    color: black !important;
    font-size: 12px;
    float: left;
    vertical-align: center;
    
}
