#review_main {
    border-bottom: 1px solid #f7f7f7;
}

#content {
    min-width: 1050px;
    padding-bottom: 120px;
}

#header, #container, #content {
    position: relative;
}

.section_view {
    width: 1050px;
    margin: 0 auto;
    padding-top: 20px;
}

.layout-wrapper.goods-view-area {
    padding-right: 40px;
}

.layout-wrapper {
    position: relative;
    top: 120px;
    width: 1050px;
    height: 100%;
    margin: 0 auto;
}

/* RELATED PRODUCT 부분  */
.goods-add-product {
    position: relative;
}

.goods-add-product-title {
    font-size: 13px;
    font-weight: 900;
    line-height: 1.8;
}

.goods-add-product-title:before {
    width: 20px;
    height: 5px;
    background-color: #000;
    display: block;
    content: '';
}

.__slide-wrapper {
    position: relative;
    overflow: hidden;
}

.goods-add-product-move.goods-add-product-move-left {
    left: 0;
    background-image: url(https://res.kurly.com/pc/etc/old/images/common/slide-sub-left-button-black.png);
    background-position: left;
}

.goods-add-product-move {
    position: absolute;
    text-indent: -9999px;
    background-color: transparent;
    border: 0;
    height: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
    background-repeat: no-repeat;
    z-index: 3;
    width: 30px;
    background-position: 50% 50%;
}

.goods-add-product-move.goods-add-product-move-right {
    right: 0;
    background-image: url(https://res.kurly.com/pc/etc/old/images/common/slide-sub-right-button-black.png);
    background-position: right;
}

.goods-add-product-list-wrapper {
    position: relative;
    overflow: hidden;
    width: 940px;
    margin: 0 auto;
    height: 350px;
}

.__slide-mover {
    position: absolute;
    left: 0;
    width: 10000%;
    height: 100%;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.__slide-item {
    float: left;
    height: 100%;
}

.goods-add-product-item {
    float: left;
    width: 180px;
    height: 100%;
    margin-right: 10px;
    border: 1px solid #ddd;
}

.goods-add-product-item-figure {
    position: relative;
    height: 230px;
    overflow: hidden;
}

.goods-add-product-item-figure a {
    display: block;
}

.goods-add-product-item-image {
    width: 100%;
    height: 100%;
}

.goods-add-product-item-content {
    height: 120px;
}

.goods-add-product-item-content-wrapper {
    padding: 10px;
    position: relative;
    min-height: 75px;
}

.goods-add-product .goods-add-product-item-name {
    overflow: hidden;
    width: 100%;
    height: 35px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

.goods-add-product-item-name {
    font-size: 14px;
    font-weight: 700;
    color: #4c4c4c;
    line-height: 18px;
}

.goods-add-product-item-price {
    font-size: 14px;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

img, video, canvas {
    max-width: 100%;
}

/* 상품설명부터 페이징까지 css 시작 */

.goods-view-infomation {
    margin-top: 10px;
}

/* 상품설명, 상품이미지, 상세정보, 고객후기, 상품문의 tab(탭)부분 시작 */
.goods-view-infomation-tab-group {
    border-bottom: 1px solid #bfbfbf;
    margin-top: 120px;
}

.goods-view-infomation-tab-group:after {
    display: block;
    content: '';
    clear: both;
}

.goods-view-infomation-tab {
    float: left;
    vertical-align: top;
}

.goods-view-infomation-tab:first-child .goods-view-infomation-tab-anchor {
    border-left: 1px solid #bfbfbf;
    width: 170px;
}

.goods-view-infomation-tab-anchor.__active {
    background-color: #fff;
    height: 47px;
}

.goods-view-infomation-tab-anchor {
    position: relative;
    right: 40px;
    top: 1px;
    width: 168px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    display: block;
    color: #4c4c4c;
    font-size: 14px;
    font-family: noto sans;
    background-color: #f0eef1;
    border: 1px solid #bfbfbf;
    border-bottom: 0;
    border-left: none;
}

.goods-view-infomation-tab-anchor span {
    font-size: 12px;
    color: #434343;
}

/* 상품설명, 상품이미지, 상세정보, 고객후기, 상품문의 tab(탭)부분 끝 */



/* 상품설명 css 시작 */
.goods-view-infomation-content.__active {
    display: block;
}

.goods-view-infomation-content {
    padding-top: 60px;
    min-height: 500px;
    margin-bottom: 50px;
}

.goods_wrap {
    width: 1010px;
    margin: 0 auto;
    font-family: noto sans;
    font-weight: 200;
    letter-spacing: 0;
}

.goods_wrap .context.last {
    margin-bottom: 170px;
}

.goods_wrap .context {
    margin-bottom: 130px;
}

.goods_wrap .goods_intro .context h3 {
    display: block;
    margin: 75px 0 0;
    padding-bottom: 35px;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    border-bottom: 1px solid #c1c1c1;
    color: #666;
}

.goods_wrap .goods_intro .context h3 small {
    display: block;
    font-size: 24px;
    margin-bottom: 14px;
    line-height: 15px;
}

.goods_wrap .goods_intro .context h3 small {
    display: block;
    font-size: 24px;
    margin-bottom: 14px;
    line-height: 15px;
}

.goods_wrap .goods_intro .context .words {
    margin-top: 28px;
}

.goods_wrap .context .words {
    margin-top: 55px;
    font-size: 18px;
    line-height: 32px;
    color: #373737;
}

.goods_wrap .goods_pick h3, .goods_point h3 {
    display: inline-block;
    position: relative;
    z-index: 10;
    font-size: 50px;
    width: 100%;
    margin-bottom: 70px;
    font-weight: 700;
    font-family: noto sans;
    font-weight: 700;
    color: #666;
}

.goods_point h3:before {
    width: 1010px;
}

.goods_wrap .goods_pick h3:before, .goods_point h3:before {
    content: " ";
    position: absolute;
    z-index: 1;
    top: 28px;
    width: 100%;
    height: 1px;
    background: #b9b9b9;
}

.goods_point h3 span {
    position: relative;
    z-index: 10;
    display: inline-block;
    margin-left: 260px;
    padding: 0 15px;
    background: #fff;
    text-shadow: 2px 0;
}

.goods_wrap .goods_tip {
    margin-bottom: 170px;
}

.goods_wrap .goods_tip h3 {
    display: inline-block;
    position: relative;
    z-index: 10;
    font-size: 30px;
    padding-left: 48px;
    font-weight: 700;
    font-family: noto sans;
    font-weight: 700;
    color: #666;
    letter-spacing: 1px;
}

.goods_wrap .goods_tip h3 span {
    position: relative;
    z-index: 10;
    display: inline-block;
    padding: 0 10px;
    font-size: 36px;
    background: #fff;
    text-shadow: 2px 0;
}

.goods_wrap .goods_tip .tip_box {
    margin-top: -15px;
    border: 1px solid #b9b9b9;
}

.goods_wrap .goods_tip .tip_box .context {
    margin: 60px 62px;
}

.goods_wrap .tip_box .context .words {
    margin: 0;
    font-size: 18px;
    line-height: 32px;
}

.goods_wrap .tip_box strong {
    display: block;
    font-size: 25px;
    line-height: 38px;
    margin-bottom: 10px;
}

.goods_wrap .tip_box .context .pic {
    margin: 66px 0;
}

/* 상품설명 css 끝 */


/* 상세정보 css 시작 */
#goods-infomation {
    margin-bottom: 100px;
}

table.extra-information {
    background: #e0e0e0;
    margin: 30px 0 60px;
    width: 100%!important;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

/* table[Attributes Style] {
    width: 100%;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    -webkit-border-horizontal-spacing: 1px;
    -webkit-border-vertical-spacing: 1px;
} */

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

table.extra-information th {
    width: 15%;
    background: #f5f5f5;
    color: #515151;
}

table.extra-information th, table.extra-information td {
    font-weight: 400;
    text-align: left;
    padding-left: 15px;
    background: #fff;
    font-family: Dotum;
    font-size: 11px;
    height: 28px;
    padding: 5px 0 5px 10px;
    border-width: 1px;
    line-height: 20px;
}

.goods-view-form-table-heading, .goods-view-form-table-cell {
    padding: 0 0 20px 10px;
    font-size: 13px;
    line-height: 1.3;
}

.goods-view-form-table-heading {
    font-weight: 400;
    text-align: left;
    width: 24%;
    color: #666;
}

table.extra-information td {
    width: 35%;
    color: #666;
}

.whykurly_area {
    width: 1000px;
    margin: 0 auto;
    color: #000;
    letter-spacing: -.045em;
}

.whykurly_area {
    font-family: noto sans;
    letter-spacing: 0;
}

.whykurly_area .row:first-child {
    border-top: 0;
    padding-top: 44px;
}

.whykurly_area .row {
    padding: 88px 0;
    border-top: 1px solid #d4d3d3;
}

.whykurly_area .tit_whykurly {
    display: block;
    font-size: 33px;
    font-weight: 500;
    color: #666;
    text-align: center;
}

.whykurly_area .txt_area {
    overflow: hidden;
    margin-top: 45px;
    text-align: center;
}

.whykurly_area .txt_area {
    overflow: hidden;
    margin-top: 45px;
    text-align: center;
}

.whykurly_area .why-kurly .col:first-child {
    margin-left: 0;
}

.whykurly_area .txt_area .col {
    width: 315px;
    display: inline-block;
    margin: 43px 0 0 10px;
    vertical-align: top;
}

.whykurly_area .why-kurly .col {
    width: 315px;
    display: inline-block;
    margin: 43px 0 0 10px;
    vertical-align: top;
}

.whykurly_area .txt_area .col .icon {
    width: 100%;
    text-align: center;
}

.whykurly_area .why-kurly .col .icon {
    display: block;
    width: 100%;
    text-align: center;
}

.whykurly_area .why-kurly .col .info {
    display: block;
}

.whykurly_area .why-kurly .col .info .title {
    color: #5f0080;
    font-weight: 600;
    display: block;
    font-size: 18px;
    text-align: center;
    line-height: 27px;
    margin-top: 10px;
}

.whykurly_area .why-kurly .col .info .desc {
    display: block;
}

.whykurly_area .why-kurly .col .info .desc p {
    display: block;
    margin-top: 22px;
    color: #333;
    padding: 0;
    font-size: 16px;
    font-weight: 100;
    line-height: 1.56;
    letter-spacing: -.4px;
    text-align: center;
}
/* 상세정보 css 끝 */


/* 고객행복센터 css 시작 */
.happy_center.fst {
    padding-top: 59px;
    border-top: 2px solid #ddd;
}

.happy_center {
    overflow: hidden;
    padding: 0 5px;
    border-bottom: 1px solid #ddd;
    font: normal 16px/23px 'Noto Sans';
    color: #333;
    letter-spacing: 0;
}

.happy_center .happy .tit {
    font-weight: 700;
    font-size: 28px;
    color: #666;
    line-height: 41px;
    letter-spacing: .8px;
}

.happy_center .happy .sub {
    font-weight: 200;
    padding-top: 31px;
}

.happy_center .happy .emph {
    display: block;
    padding-bottom: 6px;
    font-weight: 700;
    font-size: 18px;
    color: #666;
}

.happy_center .list {
    overflow: hidden;
    width: 100%;
    padding: 59px 0 72px;
}

.happy_center .list li {
    float: left;
    width: 340px;
}

.happy_center .list .tit {
    font-weight: 700;
    font-size: 18px;
    color: #5f0080;
    line-height: 27px;
}

.happy_center .list .sub {
    font-weight: 200;
    padding-top: 9px;
    font-size: 17px;
    line-height: 25px;
}

.happy_center .list .expend {
    padding-top: 13px;
    font-weight: 200;
    font-size: 15px;
    color: #666;
    line-height: 22px;
    letter-spacing: -.4px;
}

.happy_center .list li:last-child {
    width: 212px;
}

.happy_center .list .tit:before {
    content: "";
    float: left;
    width: 3px;
    height: 20px;
    margin: 5px 10px 0 0;
    background-color: #5f0080;
}

.happy_center .unfold {
    overflow: hidden;
    position: relative;
    padding: 16px 0 17px;
}

.happy_center .unfold .tit {
    float: left;
    width: 175px;
    padding: 0 0 0 13px;
    font-weight: 700;
    font-size: 16px;
    color: #666;
    line-height: 27px;
    letter-spacing: 0;
}

.happy_center .unfold .sub {
    float: left;
    width: 650px;
    padding: 0;
    line-height: 27px;
}

.happy_center .asked {
    position: absolute;
    right: 12px;
    top: 50%;
    width: 95px;
    height: 24px;
    margin-top: -12px;
    font-size: 16px;
    color: #5f0080;
    line-height: 24px;
    text-align: right;
    letter-spacing: -.4px;
}

.happy_center .asked .txt {
    padding-right: 20px;
}

.happy_center .asked .ico {
    position: absolute;
    right: 0;
    top: 50%;
    width: 14px;
    height: 8px;
    margin-top: -4px;
}

.happy_center.on .asked .ico {
    transform: rotate(
180deg
);
}

.happy_center.on .happy_faq {
    display: block;
}

.order .happy_faq {
    width: 100%;
    padding: 12px 0 40px 180px;
}

.happy_center .happy_faq {
    display: none;
    overflow: hidden;
    padding: 49px 0 40px;
    border-top: 1px solid #ddd;
}

.order .happy_faq .questions {
    width: 100%;
}

.happy_faq .questions {
    float: right;
    width: 655px;
    padding: 2px 20px 0 0;
    font-weight: 200;
    font-size: 15px;
    line-height: 22px;
}

.order .happy_faq .subject {
    padding: 28px 0 0;
    color: #333;
}
.happy_center.on .happy_faq {
    display: block;
}

.happy_faq .subject {
    display: block;
    padding: 30px 0 6px;
    font-weight: 700;
    font-size: 15px;
    color: #5f0080;
    line-height: 22px;
}

.order .happy_faq .list_questions {
    padding-top: 0;
}

.happy_faq .list_questions {
    padding-top: 20px;
}

.order .happy_faq .list_questions li {
    margin-top: 3px;
}

.order .happy_faq .list_questions li:before {
    margin-top: 11px;
}

.happy_faq .list_questions li:before {
    content: "";
    overflow: hidden;
    float: left;
    width: 3px;
    height: 3px;
    margin: 9px 4px 0 0;
    border-radius: 100%;
    background-color: #333;
}

.happy_faq .item {
    float: left;
    width: 340px;
    padding: 0 0 0 30px;
    font-weight: 700;
    font-size: 17px;
    line-height: 25px;
}

.happy_center.on .happy_faq {
    display: block;
}

.happy_faq .subject.no_padding {
    padding-top: 0;
}

.happy_faq .bar_pc {
    display: block;
}

/* 고객행복센터 css 끝 */


/* --------------------------------------------------- */
/* 상품후기 css 시작 */
.sdp-review {
    position: relative;
    padding-top: 5px;
    padding-bottom: 35px;
    font-size: 12px;
    letter-spacing: -1px;
    user-select: none;
    font-family: noto sans,malgun gothic,AppleGothic,dotum;
    margin: 30px 0px 0px;
    /* border-top: 2px solid #5f0080; */
    background: white;
    overflow: visible;
    outline: none;
}

.title_txt {
    border-bottom: 2px solid #5f0080;
}

.sdp-review__average, .sdp-review__highlight{ 
    /* width: 1050px; */
    margin: auto;
}
/* .sdp-review__white-dimmed {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(17,17,17,0.65);
    background: url(//review/review_image/bg-black-opacity.png) repeat;
    z-index: 1000;
} */

/* .sdp-review__register-modal-btn {
    float: right;
    display: none;
    width: 106px;
    height: 32px;
    margin-top: 26px;
    margin-left: 14px;
    background-color: rgb(52, 106, 255);
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-family:  noto sans,malgun gothic,AppleGothic,dotum;
    padding: 0px;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 115, 233);
    border-image: initial;
    outline: none;
} */

/* 상품평 운영원칙 btn css */
.sdp-review__guide-btn {
    float: right;
    display: inline-block;
    margin-top: 37px;
    font-size: 13px;
    line-height: 13px;
    color: #346aff;
    cursor: pointer;
}

/* <h4> 상품평 </h4> css */
.sdp-review__title {
    margin-top: 26px;
    margin-bottom: 14px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}


/* 별점 이미지 position 지정 */
.sdp-review__average__total-star {
    position: relative;
}

section {
    display: block;
    margin-bottom: 16px;
}

/* 별점 info css */
.sdp-review__average__total-star__info {
    height: 44px;
    overflow: hidden;
}

/* 별점 image 표시 */
.sdp-review__average__total-star__info-gray {
    display: inline-block;
    width: 245px;
    height: 44px;
    background: url(/review/review_image/star_all_v2.png) 0px -52px no-repeat;
}

element.style {
    width: 222px;
}


.sdp-review__average__total-star__info-orange {
    width: 0%;
    height: 44px;
    background: url(//review/review_image/star_all_v2.png) no-repeat;
}

/* total 별점 count */
.sdp-review__average__total-star__info-count {
    display: inline-block;
    margin-top: 4px;
    margin-left: 14px;
    line-height: 44px;
    vertical-align: top;
    font-size: 30px;
    color: #333;
}

/* total 별점 count의 자세히보기 */
.sdp-review__average__total-star__info-detail {
    display: inline-block;
    padding-top: 5px;
    margin-left: 10px;
    vertical-align: top;
    line-height: 44px;
    font-size: 12px;
    color: #346aff;
}

.sdp-review__average__total-star__info-detail__content {
    cursor: pointer;
}

.sdp-review__average__total-star__summary {
    position: absolute;
    left: 338px;
    display: none;
    width: 420px;
    height: 360px;
    border: 1px solid #333;
    background: #fff;
    box-sizing: border-box;
    z-index: 100;
}

.sdp-review__average__total-star__summary__title {
    padding: 18px 20px;
    background-color: #333;
    font-size: 12px;
    color: #fff;
}

.sdp-review__average__total-star__summary__title__close-btn {
    float: right;
    width: 11px;
    height: 12px;
    margin-top: 2px;
    border: none;
    vertical-align: middle;
    background: url(//review/review_image/summary_close_btn_v1.png) no-repeat;
    outline: none;
    box-sizing: border-box;
}

.sdp-review__average__total-star__summary__total {
    padding-top: 34px;
    margin-bottom: 22px;
    text-align: center;
}

.sdp-review__average__total-star__summary__total__gray {
    display: inline-block;
    width: 166px;
    height: 30px;
    vertical-align: middle;
    background: url(//review/review_image/star_all_v2.png) 0px -144px no-repeat;
}

.sdp-review__average__total-star__summary__total__orange {
    width: 0%;
    height: 30px;
    background: url(//review/review_image/star_all_v2.png) 0px -105px no-repeat;
}

.sdp-review__average__total-star__summary__total__count {
    display: inline-block;
    height: 30px;
    padding-top: 4px;
    margin-left: 10px;
    line-height: 30px;
    vertical-align: middle;
    font-size: 24px;
    color: #111;
    box-sizing: border-box;
}

.sdp-review__average__total-star__summary__graph {
    margin-top: 5px;
    text-align: center;
}

.sdp-review__average__total-star__summary__graph__state {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
    color: #111;
}

.sdp-review__average__total-star__summary__graph__gray {
    display: inline-block;
    width: 240px;
    height: 32px;
    margin-left: 12px;
    vertical-align: middle;
    background-color: #eee;
    text-align: left;
}

.sdp-review__average__total-star__summary__graph__orange {
    display: inline-block;
    width: 0%;
    height: 32px;
    background-color: #ff9600;
}

.sdp-review__average__total-star__summary__graph__percent {
    display: inline-block;
    width: 20px;
    margin-left: 12px;
    font-size: 15px;
    color: #111;
    vertical-align: middle;
}

.sdp-review__average__total-star__summary__graph {
    margin-top: 5px;
    text-align: center;
}

.sdp-review__average__total-star__summary__graph {
    margin-top: 5px;
    text-align: center;
}

.sdp-review__average__total-star__summary__graph__state {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
    color: #111;
}

.sdp-review__clear {
    clear: both;
}

/* 상품후기 갤러리(이미지 모아보기) css 시작 */
.sdp-review__average__gallery {
    clear: both;
    margin-top: 50px;
}

.sdp-review__average__gallery__list {
    position: relative;
    font-size: 0;
}

.sdp-review__average__gallery__list__item {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 120px;
    overflow: hidden;
    cursor: pointer;
}

element.style {
    width: 100%;
    height: auto;
    margin-top: -48px;
    opacity: 1;
}

/* img {
    vertical-align: top;
} */

fieldset, img {
    border: 0;
    padding: 0;
}

.sdp-review__average__gallery__list__item.sdp-review__average__gallery__list__item--video .sdp-review__average__gallery__list__item__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(//review/review_image/bg-black-opacity.png) repeat;
    background: rgba(17,17,17,0.65);
    text-align: center;
}

.sdp-review__average__gallery__list__item+.sdp-review__average__gallery__list__item {
    margin-left: 2px;
}

element.style {
    width: 100%;
    height: auto;
    margin-top: -14.25px;
    opacity: 1;
}

.sdp-review__average__gallery__list__item-more-btn {
    position: absolute;
    top: 0;
    right: 118px;
    width: 121px;
    height: 120px;
    padding-top: 33px;
    background: url(//review/review_image/bg-black-opacity.png) repeat;
    background: rgba(17,17,17,0.65);
    box-sizing: border-box;
    cursor: pointer;
}

/* 상품후기 갤러리(이미지 모아보기)의 더보기 */
.sdp-review__average__gallery__list__item-more-btn__count {
    font-size: 36px;
    color: #fff;
    text-align: center;
    font-weight: 200;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px;
}

.sdp-review__average__gallery__list__item-more-btn__content {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

/* 만족도 평균 */
.sdp-review__average__summary {
    margin-top: 50px;
}

/* 만족도 평균 - 만족도 */
.sdp-review__average__summary__section {
    display: inline-block;
    width: 33%;
}

.sdp-review__average__summary__section__title {
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: bold;
    color: #111;
}

header {
    position: relative;
    height: 48px;
    padding: 0 16px;
    border-bottom: 1px solid #ddd;
}

article, aside, hgroup, header, figure, figcaption, nav, section, time, mark, canvas, video, audio, details, summary {
    display: block;
}

/* 만족도 평균 - 만족도의 그림 */
.sdp-review__average__summary__section__list {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 0 6px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.sdp-review__average__summary__section__list__item {
    display: table-row;
}

.sdp-review__average__summary__section__list__item__graph {
    display: table-cell;
    width: 164px;
    background-color: #eee;
    white-space: nowrap;
}

.sdp-review__average__summary__section__list__item__graph__bar.sdp-review__average__summary__section__list__item__graph__bar--green {
    background-color: #6abb6f;
}

.sdp-review__average__summary__section__list__item__graph__percent {
    display: inline-block;
    font-size: 12px;
    color: #fff;
    line-height: 17px;
}

.sdp-review__average__summary__section__list__item__graph__bar {
    position: relative;
    display: inline-block;
    width: 180px;
    min-width: 30px;
    height: 17px;
    padding-top: 1px;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    text-align: right;
    font-weight: 100;
    letter-spacing: 0;
}

.sdp-review__average__summary__section__list__item__answer {
    display: table-cell;
    padding-left: 6px;
    vertical-align: middle;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


/* 긍정, 비판 상품평 BEST 전체 */
.sdp-review__highlight {
    padding: 0;
}

/* 긍정 상품평 BEST 전체 */
.sdp-review__highlight__positive {
    float: left;
    width: 460px;
    margin-top: 60px;
    margin-right: 60px;
    padding-top: 12px;
    border-top: 1px solid #333;
}

/* 긍정 상품평 BEST title */
.sdp-review__highlight__positive__title {
    font-size: 18px;
    font-weight: bold;
}

/* 긍정 상품평 BEST info(회원정보) */
.sdp-review__highlight__positive__info {
    margin-top: 32px;
    margin-bottom: 15px;
}

.sdp-review__highlight__positive__info__profile {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 6px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

element.style {
    width: 100%;
    height: auto;
    margin-top: -4.875px;
    opacity: 1;
}

.sdp-review__highlight__positive__info__user {
    margin-bottom: 5px;
}

/* 긍정 상품평 BEST info(회원정보) - 유저이름 */
.sdp-review__highlight__positive__info__user-name {
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 500;
    color: #111;
    letter-spacing: 0;
    cursor: pointer;
}

.sdp-review__highlight__positive__info__top-badge {
    display: inline-block;
    width: 48px;
    height: 16px;
    vertical-align: middle;
    cursor: pointer;
}

/* 긍정 상품평 BEST info(회원정보) - 별점수 */
.sdp-review__highlight__positive__info__product-info__star-gray {
    display: inline-block;
    width: 89px;
    height: 15px;
    background: url(//review/review_image/star_all_v2.png) 0 -271px no-repeat;
}

.sdp-review__highlight__positive__info__product-info__star-orange {
    width: 0%;
    height: 100%;
    background: url(//review/review_image/star_all_v2.png) 0 -246px no-repeat;
}

/* 긍정 상품평 BEST info(회원정보) - 리뷰작성일 */
.sdp-review__highlight__positive__info__product-info__reg-date {
    display: inline-block;
    vertical-align: top;
    padding-top: 3px;
    font-size: 12px;
    color: #555;
}

/* 긍정 상품평 BEST info(회원정보) - 구매한 상품이름 */
.sdp-review__highlight__positive__info__product-name {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    font-size: 12px;
    color: #888;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 긍정 상품평 BEST info(회원정보) - 구매한 상품의 이미지 모아보기 */
.sdp-review__highlight__positive__gallery {
    padding: 0;
    margin-bottom: 19px;
    font-size: 0;
}

.sdp-review__highlight__positive__gallery__list {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 75px;
    margin-right: 2px;
    margin-bottom: 2px;
    cursor: pointer;
    overflow: hidden;
}

.sdp-review__highlight__positive__gallery__list__image {
    width: 100%;
    height: 100%;
}

element.style {
    width: 100%;
    height: auto;
    margin-top: -30.4px;
    opacity: 1;
}

.sdp-review__highlight__positive__gallery__list__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 3px;
    background: url(//review/review_image/bg-black-opacity.png) repeat;
    background: rgba(17,17,17,0.65);
    text-align: center;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! 비디오 재생 아이콘 이미지 다운받기!! */
.sdp-review__highlight__positive__gallery__list__video__btn {
    display: inline-block;
    width: 16px;
    height: 20px;
    margin-top: 20px;
    vertical-align: middle;
    background: url(//review/review_image/play-btn-small__v1.png) no-repeat;
    background-size: 16px 20px;
}

.sdp-review__highlight__positive__gallery__list__video__duration {
    margin-top: 7px;
    font-size: 10px;
    letter-spacing: 1px;
    color: #fff;
}

element.style {
    width: 100%;
    height: auto;
    margin-top: -9.025px;
    opacity: 1;
}

element.style {
    width: 100%;
    height: auto;
    margin-top: -3.27813px;
    opacity: 1;
}

element.style {
    width: 100%;
    height: auto;
    margin-top: -7.44062px;
    opacity: 1;
}

element.style {
    width: 100%;
    height: auto;
    margin-top: -10.925px;
    opacity: 1;
}

element.style {
    width: 100%;
    height: auto;
    margin-top: -11.7563px;
    opacity: 1;
}

element.style {
    width: 100%;
    height: auto;
    margin-top: -8.19375px;
    opacity: 1;
}

element.style {
    width: 100%;
    height: auto;
    margin-top: -10.4469px;
    opacity: 1;
}

element.style {
    width: 100%;
    height: auto;
    margin-top: -9.52188px;
    opacity: 1;
}

element.style {
    width: 100%;
    height: auto;
    margin-top: -11.5187px;
    opacity: 1;
}

element.style {
    width: 100%;
    height: auto;
    margin-top: -12.6375px;
    opacity: 1;
}

/* 긍정 상품평 BEST info(회원정보) - 구매한 상품의 headline(상품후기 제목) */
.sdp-review__highlight__positive__headline {
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: bold;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 긍정 상품평 BEST info(회원정보) - 구매한 상품의 상품후기 내용 전체 */
.sdp-review__highlight__positive__article {
    word-wrap: break-word;
}

/* 긍정 상품평 BEST info(회원정보) - 구매한 상품의 상품후기 내용 text */
.sdp-review__highlight__positive__article.sdp-review__highlight__article__more__show--active .sdp-review__highlight__positive__article__content {
    display: -webkit-box;
    height: 190px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 10;
}

/* 긍정 상품평 BEST info(회원정보) - 구매한 상품의 상품후기 내용 text 더보기 */
.sdp-review__highlight__positive__article.sdp-review__highlight__article__more__show--active .sdp-review__highlight__article__more {
    display: block;
}

.sdp-review__highlight__article__more {
    display: none;
    margin-top: 10px;
}

.sdp-review__highlight__positive__article.sdp-review__highlight__article__more__show--active .sdp-review__highlight__article__more__show-btn {
    display: inline;
}

.sdp-review__highlight__article__more__show-btn {
    display: none;
    font-size: 13px;
    color: #346AFF;
    cursor: pointer;
}

.sdp-review__highlight__article__more__hide-btn {
    display: none;
    font-size: 13px;
    color: #346AFF;
    cursor: pointer;
}

/* 긍정 상품평 BEST info(회원정보) - 구매한 상품의 만족도 */
.sdp-review__highlight__positive__survey {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-top: 11px;
}

.sdp-review__highlight__positive__survey__row {
    display: table-row;
}

.sdp-review__highlight__positive__survey__row__question {
    display: table-cell;
    width: 60px;
    padding-bottom: 3px;
    font-size: 12px;
    font-weight: bold;
    color: #111;
}

/* 긍정 상품평 BEST  - 도움이 돼요(좋아요) 부분 전체 */
.sdp-review__highlight__positive__survey__row__answer {
    display: table-cell;
    font-size: 12px;
    color: #111;
}

.sdp-review__highlight__positive__helpful {
    position: relative;
    margin-top: 12px;
    height: 26px;
}

/* 긍정 상품평 BEST  - 이 상품평이 도움이 되었나요?의 클릭 수(count) */
.sdp-review__highlight__positive__helpful__count {
    display: inline-block;
    font-size: 11px;
}

strong {
    font-weight: bold;
}

.hidden {
    display: none;
}

/* 긍정 상품평 BEST  - 도움이 돼요 버튼 */
.sdp-review__highlight__positive__helpful__btn {
    width: 80px;
    height: 26px;
    margin-left: 10px;
    padding: 0;
    border: 1px solid #5f0080;
    color: #5f0080;;
    background-color: #fff;
    letter-spacing: -1px;
    outline: none;
}

/* 긍정 상품평 BEST  - 도움이 안돼요 버튼 */
.sdp-review__highlight__positive__helpful__btn {
    width: 80px;
    height: 26px;
    margin-left: 10px;
    padding: 0;
    border: 1px solid #5f0080;
    color: #5f0080;
    background-color: #fff;
    letter-spacing: -1px;
    outline: none;
}

/* 긍정 상품평 BEST  - 신고하기 버튼 */
.sdp-review__highlight__positive__helpful__report {
    position: absolute;
    top: 5px;
    right: 0;
    padding: 0;
    margin: 0;
    border: none;
    background-color: #fff;
    color: #346aff;
    outline: none;
}

/* 버튼 전체 */
button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

/* 비판 상품평 BEST 전체 */
.sdp-review__highlight__critical {
    float: left;
    width: 460px;
    margin-top: 60px;
    padding-top: 12px;
    border-top: 1px solid #333;
}

/* 비판 상품평 BEST title */
.sdp-review__highlight__critical__title {
    font-size: 18px;
    font-weight: bold;
}

/* 비판 상품평 BEST info(회원정보) 전체 */
.sdp-review__highlight__critical__info {
    margin-top: 32px;
    margin-bottom: 15px;
}

element.style {
    width: 100%;
    height: auto;
    margin-top: 0px;
    opacity: 1;
}


/* 비판 상품평 BEST info(회원정보) - 유저 프로필사진 */
.sdp-review__highlight__critical__info__profile {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 6px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

/* 비판 상품평 BEST info(회원정보) - 유저 */
.sdp-review__highlight__critical__info__user {
    margin-bottom: 5px;
}

/* 비판 상품평 BEST info(회원정보) - 유저이름 */
.sdp-review__highlight__critical__info__user-name {
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 500;
    color: #111;
    letter-spacing: 0;
    cursor: pointer;
}

/* 비판 상품평 BEST info(회원정보) - 별점수 */
.sdp-review__highlight__critical__info__product-info__star-gray {
    display: inline-block;
    width: 89px;
    height: 15px;
    background: url(//review/review_image/star_all_v2.png) 0 -271px no-repeat;
}

.sdp-review__highlight__critical__info__product-info__star-orange {
    width: 0%;
    height: 100%;
    background: url(//review/review_image/star_all_v2.png) 0 -246px no-repeat;
}

/* 비판 상품평 BEST info(회원정보) - 리뷰작성일 */
.sdp-review__highlight__critical__info__product-info__reg-date {
    display: inline-block;
    vertical-align: top;
    padding-top: 3px;
}

/* 비판 상품평 BEST info(회원정보) - 구매한 상품이름 */
.sdp-review__highlight__critical__info__product-name {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    font-size: 12px;
    color: #888;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 비판 상품평 BEST info(회원정보) - 구매한 상품의 이미지 모아보기 */
.sdp-review__highlight__critical__gallery {
    padding: 0;
    margin-bottom: 19px;
    font-size: 0;
}

.sdp-review__highlight__critical__gallery__list {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 75px;
    margin-right: 2px;
    margin-bottom: 2px;
    cursor: pointer;
    overflow: hidden;
}

element.style {
    width: 100%;
    height: auto;
    margin-top: -12.7062px;
    opacity: 1;
}

.sdp-review__highlight__critical__gallery__list__image {
    width: 100%;
    height: 100%;
}


element.style {
    width: 100%;
    height: auto;
    margin-top: -12.7062px;
    opacity: 1;
}

element.style {
    width: auto;
    height: 100%;
    margin-left: -12.6667px;
    opacity: 1;
}

element.style {
    width: auto;
    height: 100%;
    margin-left: -13.6667px;
    opacity: 1;
}

element.style {
    width: 100%;
    height: auto;
    margin-top: -11.3719px;
    opacity: 1;
}

element.style {
    width: 100%;
    height: auto;
    margin-top: -12.7062px;
    opacity: 1;
}

/* 비판 상품평 BEST info(회원정보) - 구매한 상품의 상품후기 내용 전체 */
.sdp-review__highlight__critical__article {
    word-wrap: break-word;
}

.sdp-review__highlight__critical__article__content {
    word-wrap: break-word;
    font-size: 13px;
    line-height: 19px;
    color: #111;
}

/* 비판 상품평 BEST info(회원정보) - 구매한 상품의 만족도 */
.sdp-review__highlight__critical__survey {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-top: 11px;
}

.sdp-review__highlight__critical__survey__row {
    display: table-row;
}

.sdp-review__highlight__critical__survey__row__question {
    display: table-cell;
    width: 60px;
    padding-bottom: 3px;
    font-size: 12px;
    font-weight: bold;
    color: #111;
}

.sdp-review__highlight__critical__survey__row__answer {
    display: table-cell;
    font-size: 12px;
    color: #111;
}

/* 비판 상품평 BEST  - 도움이 돼요(좋아요) 부분 전체 */
.sdp-review__highlight__critical__helpful {
    position: relative;
    margin-top: 12px;
    height: 26px;
}

/* 비판 상품평 BEST  - 이 상품평이 도움이 되었나요?의 클릭 수(count) */
.sdp-review__highlight__critical__helpful__count {
    display: inline-block;
    font-size: 11px;
}

/* 비판 상품평 BEST  - 도움이 돼요 버튼 */
.sdp-review__highlight__critical__helpful__btn {
    width: 80px;
    height: 26px;
    margin-left: 10px;
    padding: 0;
    border: 1px solid #5f0080;
    color: #5f0080;
    background-color: #fff;
    letter-spacing: -1px;
    outline: none;
}

/* 비판 상품평 BEST  - 도움이 안돼요 버튼 */
.sdp-review__highlight__critical__helpful__btn {
    width: 80px;
    height: 26px;
    margin-left: 10px;
    padding: 0;
    border: 1px solid #5f0080;
    color: #5f0080;
    background-color: #fff;
    letter-spacing: -1px;
    outline: none;
}

/* 비판 상품평 BEST  - 신고하기 버튼 */
.sdp-review__highlight__critical__helpful__report {
    position: absolute;
    top: 5px;
    right: 0;
    padding: 0;
    margin: 0;
    border: none;
    background-color: #fff;
    color: #346aff;
    outline: none;
}

/* 긍정, 비판상품평 BEST css 끝 */

/* --------------------------------------------------- */

/* PRODUCT REVIEW 부분의 css */
/* .product_review .title_txt{
    position: relative;
    top: 30px;
} */

.product_review .sort-wrap{
    /* position: relative;
    left: -39px; */
    /* padding-bottom: 20px; */
    /* line-height: 20px; */
}

/* 상품후기 게시판위의 select 부분 */
.sort select{
    position: relative;
    left: 880px;
    bottom: 60px;
    height: 35px;
    width: 130px;
}
.sort option{
    font-size: 15px;
}
/* ---------------------------------------------- */

/* 후기 게시판 리스트 */
/* .bodytext_area{ width: 1050px; margin: auto;}
.minisrch_form { width: 100%; text-align: right; margin-bottom: 20px; }
.minisrch_form .tbox { padding: 0 5px 0 30px; width: 200px; height: 35px; line-height: 30px; border: none; border-bottom: 1px solid #ccc; background: url(../images/ico_search.png) no-repeat 10px 50%; background-size: 15px; }

.bbsListTbl { width: 100%; border-top: 2px solid #5f0080; }
.bbsListTbl th, .bbsListTbl td { padding: 10px; box-sizing: border-box; height: 55px;}

.bbsListTbl th { border-bottom: 1px solid #ccc; background-color: #f0f3fa; }
.bbsListTbl td { text-align: center; line-height: 1.3; border-bottom: 1px solid #ccc; }

.bbsListTbl td.tit_notice { text-align: left; }

.bbsListTbl td:nth-child(1) { width: 10%; }
.bbsListTbl td:nth-child(2) { width: 50%; }
.bbsListTbl td:nth-child(3) { width: 10%; }
.bbsListTbl td:nth-child(4) { width: 10%; }
.bbsListTbl td:nth-child(5) { width: 10%; }
.bbsListTbl td:nth-child(6) { width: 10%; } */

/* .pagination { padding: 40px 0 0; text-align: center; }
.pagination a { display: inline-block; }
.pagination a.pbtn { display: inline-block; padding: 7px; text-align: center; vertical-align: middle; font-size: 0; }
.pagination a .pagenum { display: inline-block; width: 25px; height: 25px; line-height: 25px; text-align: center; vertical-align: middle; }
.pagination a .currentPage { border-radius: 3px; background: #384d75; color: #fff; }
.pagination a:hover .pagenum { border-radius: 3px; background-color: #ddd; } */

/* 마켓컬리_최근등록순 option 부분 css */


/* 마켓컬리 페이징 시작 */
.goods_board .board_pg_area {
    clear: both;
    text-align: center;
    padding-bottom: 15px;
}

.layout-pagination-button:first-child {
    border-left: 1px solid #ddd;
}
.layout-pagination-first-page {
    background-image: url('../review_image/icon-pagination-first.png');
}
.layout-pagination-prev-page {
    background-image: url('../review_image/icon-pagination-prev.png');
}

.layout-pagination-next-page {
    background-image: url('../review_image/icon-pagination-next.png');
}

.layout-pagination-last-page {
    background-image: url('../review_image/icon-pagination-last.png');
}

.layout-pagination-first-page, .layout-pagination-prev-page, .layout-pagination-next-page, .layout-pagination-last-page {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-indent: -9999px;
}

.layout-pagination-button {
    display: inline-block;
    width: 34px;
    height: 34px;
    border: 1px solid #ddd;
    border-left: 0;
    vertical-align: top;
}

Style Attribute {
    clear: both;
    text-align: center;
    padding-bottom: 15px;
}

.layout-pagination-number:hover, .layout-pagination-number.__active {
    background-color: #f7f7f7;
    color: #5f0080;
}

.layout-pagination-number {
    font-weight: 700;
    color: #333;
    line-height: 34px;
}

.goods_board .board_pg_area {
    clear: both;
    text-align: center;
    padding-bottom: 15px;
}
/* 마켓컬리 페이징 끝 */

/* 공지사항 상세보기 --> 투어인리트스꺼!! */
.bbsview_list { padding-bottom: 30px; border-top: 2px solid #384d75; }
.bbsview_list li { box-sizing: border-box; padding: 0 15px; border-bottom: 1px solid #ccc; font-size: 14px; color: #666; }
.bbsview_list li.bbs_title { width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; height: 50px; line-height: 50px; font-weight: bold; font-size: 16px; }
.bbsview_list li.bbs_date { height: 40px; line-height: 40px; float: left; width: 50%; }
.bbsview_list li.bbs_hit { height: 40px; line-height: 40px; float: left; width: 50%; }

.bbsview_list li.bbs_content { clear: both; min-height: 200px; padding: 20px 15px; }
.bbsview_list li.bbs_content .editor_content { line-height: 1.4;}

.near_list { border-top: 1px solid #ccc; }
.near_list li { padding: 10px; border-bottom: 1px solid #ccc; }
.near_list li:after { content: ""; display: block; clear: both; }
.near_list li h4 { float: left; width: 100px; padding: 0 0 0 50px; background: url(/review/review_image/ico_nearNext.png) no-repeat 12px 50%; font-size: 15px; }
.near_list li h4.next { background: url(/review/review_image/ico_nearPrev.png) no-repeat 12px 50%; }

/* 후기쓰기 버튼 css */
.review_writing input{
    float: right;
    width: 130px;
    height: 38px;
    background-color: #795b8f;
    border: 1px solid #5f0080;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    margin: 8px 0px;
}


/* -------------------------------------------------- */

/* 상품문의 css */

.goods-view-infomation-board {
    width: 100%;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

iframe {
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

div, th, td, li, dt, dd, p {
    word-break: break-all;
}

body, input, select, textarea, button {
    font-family: noto sans,malgun gothic,AppleGothic,dotum;
    line-height: 1;
    letter-spacing: -.05em;
    color: #4c4c4c;
    font-size: 12px;
    max-width: 100%;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

element.style {
    overflow-y: hidden;
    zoom: 1;
}

div {
    display: block;
}

body * {
    font-family: 'Noto Sans';
    font-weight: 400;
    letter-spacing: 0;
}

.xans-product-additional div.board h2 {
    font-size: 13px;
    font-weight: 700;
    padding-bottom: 5px;
}

ol, ul {
    list-style-type: none;
}

.list_type1.old li {
    overflow: hidden;
    width: 100%;
}

.list_type1.old .ico {
    float: left;
    width: 4px;
    height: 4px;
    margin: 7px 8px 0 0;
    background-color: #514859;
    vertical-align: 2px;
}

.list_type1.old .txt {
    overflow: hidden;
    padding: 0;
    font-size: 12px;
    color: #666;
    line-height: 18px;
    letter-spacing: -.3px;
}

.xans-product-additional table.xans-board-listheader {
    margin: 15px 0 0;
    color: #353535;
    font-size: 12px;
    line-height: 140%;
    table-layout: fixed;
}

.xans-board-listheader {
    border-top: 2px solid #522772;
    font-size: 13px;
    line-height: 140%;
}

.xans-product-additional table.xans-board-listheader th {
    padding: 25px 0 23px;
    vertical-align: middle;
    font-size: 12px;
}

.xans-board-listheader th {
    padding: 20px 0;
    vertical-align: middle;
    font-size: 12px;
}

.xans-product-additional div.board .btnArea {
    padding: 10px 0;
    text-align: right;
    width: 100%;
    display: table;
}

.xans-product-additional div.board>.btnArea {
    border-top: 1px solid #6a3664;
}

.xans-product-additional div.board .btnArea a {
    display: inline-block;
}

.bhs_button {
    width: 150px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    background-color: #795b8f;
    border: 1px solid #5f0080;
    color: #fff;
    font-size: 15px;
    float: right;
    margin-left: 2px;
    font-size: 13px;
}

.after:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

element.style {
    clear: both;
    text-align: center;
    padding-bottom: 15px;
}

/* ------------------------------------------ */

/*  PRODUCT REVIEW 부분 시작 */

link {
    display: none;
}

.xans-product-additional .sort-wrap {
    position: relative;
}

.xans-product-additional .sort {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    text-align: right;
}

select:not(:-internal-list-box) {
    overflow: visible !important;
}

button, select {
    text-transform: none;
}

.xans-product-additional .sort select {
    margin: 0 2px 0 0;
    border: 1px solid #bfbfbf;
    line-height: 34px;
    height: 34px;
    vertical-align: middle;
    padding-bottom: 5px;
}

select {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    cursor: default;
    font: 400 13.3333px Arial;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

.xans-product-additional table.tbl_newtype1 td {
    height: auto;
    padding: 22px 3px 23px;
}

.xans-product-additional table.xans-board-listheaderd td {
    padding: 25px 3px 23px;
    border-top: 1px solid #e3e3e3;
    text-align: center;
    vertical-align: middle;
    height: 65px;
}

.goods_board .tbl_newtype1 .subject {
    padding-left: 50px;
    text-align: left;
}

.xans-product-additional table.tbl_newtype1 td.user_grade {
    padding: 22px 0 23px;
    line-height: 19px;
    text-align: left;
}

.goods_board .tbl_newtype1 .time {
    color: #939393;
}

/* 라벤더 퍼플 화이트 프렌즈 시작 */
.grade_comm .grade1 {
    border: 1px solid #a864d7;
    background-color: #a864d8;
}

.grade_comm .grade2 {
    border: 1px solid #8c4cc3;
    background-color: #8c4cc4;
}

.grade_comm .grade3 {
    border: 1px solid #641797;
    background-color: #641798;
}

.grade_comm .grade5 {
    border: 1px solid #cba3e8;
    background-color: #cba3e9;
}

.grade_comm .ico_grade {
    display: inline-block;
    min-width: 38px;
    height: 16px;
    padding: 0 4px;
    border-radius: 30px;
    font-size: 9px;
    color: #fff;
    line-height: 14px;
    text-align: center;
}
/* 라벤더 퍼플 화이트 프렌즈 끝 */



.xans-product-additional .btnArea .bhs_button {
    margin: 20px 0 20px 5px;
}

.xans-product-additional .btnArea .bhs_button {
    margin: 50px 0 20px 5px;
}



body *{font-family:'Noto Sans';font-weight:400;letter-spacing:0}
/* 제목부분 글줄임처리 */
.goods_board .tbl_newtype1
.xans-product-additional table.tbl_newtype1 td{padding:20px 3px 22px;line-height:20px}
.xans-product-additional table.tbl_newtype1 td .snd{display:none}
.xans-product-additional .on table.tbl_newtype1 td .fst{display:none}
.xans-product-additional .on table.tbl_newtype1 td .snd{display:block}
/* 고객후기_제목 */
.goods_board .tbl_newtype1 .subject{padding-left:50px;text-align:left;}
.goods_board .tbl_newtype1 .subject .tit_notice{padding-left:20px;background:url(/shop/data/skin/designgj/images/goods/ico_re.gif) no-repeat 0 3px}
.goods_board .tbl_newtype1 .time{color:#939393}
/* 고객후기_상세 */
.goods_board .name_purchase .name{display:block;font-weight:700;font-size:12px;color:#514859;line-height:18px}
.goods_board .name_purchase .package{padding-top:2px;font-size:14px;color:#000;line-height:20px}
.goods_board .review_photo{padding-top:30px;line-height:16px}
.goods_board .review_view{display:none;padding:10px 10px 11px;border-top:1px solid #e3e3e3;}
.goods_board .review_view .inner_review{width:100%;padding:20px 9px 9px;line-height:25px}
.goods_board .review_notice .name_purchase{display:none}
.goods_board .review_notice .review_photo{display:none}
.goods_board .goods-review-grp-btn .styled-button{height:32px}
/* 고객후기 없을때 */
.goods_board .no_data{padding:30px;text-align:center}
/* 페이징영역 */
.goods_board .board_pg_area{clear:both;text-align:center;padding-bottom:15px}
