/*              새로 생성한 css             */
.nav {  position: fixed !important; top:0px; left: 0px; right: 0px;}
.page_article #top_menu ul li a:hover { color: #5f0080; font-weight: bold; }
.switchOn1 { background-color:#795b8f !important;}
.switchOn2 {left: 17px !important;}
.Onclick {color:#5f0080 !important; font-weight: bold; border-bottom: 1px solid #5f0080;}
.turnOn { background: url(../img/goods_list/wish2.png)no-repeat;}
/* .subMenuOn { display: block !important;} */

/*html 수정한 부분
공통 header부분 
<div id="gnbMenu" class="gnb_kurly gnbMenu"> 추가
<div>
    <button type="button" class="btn default login">로그인</button>
    <button type="button" class="btn active searchAddress"><span
            class="ico"></span>주소검색</button>
</div> 수정 및 추가
*/

/*          style.css 수정              */
#qnb { position: absolute; z-index: 999px; right: 20px; width: 80px; font: normal 12px/16px "Noto Sans KR"; color: #333; letter-spacing: -0.3px; transition: top 0.2s; padding-top: 150px;} 화면 스크롤을 내리면 qnb가 따라와야 함



/* index.html메인화면 사이드바 스크롤 css */
#qnbMain { position: absolute; z-index: 999px; right: 20px; width: 80px; font: normal 12px/16px "Noto Sans KR"; color: #333; letter-spacing: -0.3px; transition: top 0.2s;} /*화면 스크롤을 내리면 qnb가 따라와야 함*/

#qnbMain a { font: normal 12px/16px "Noto Sans KR"; color: #333; letter-spacing: -0.3px; }
.goods-goods_view #qnbMain { top: 20px; }

/* 배너 */
#qnbMain .bnr_qnb { padding-bottom: 7px; }
#qnbMainMain .bnr_qnb .thumb { width: 80px; height: 120px; vertical-align: top; }

/* 메뉴 */    
#qnbMain .side_menu { width: 80px; border: 1px solid #ddd; border-top: 0 none; background-color: #fff; }

#qnbMain .link_menu { display: block; height: 29px; padding-top: 7px; border-top: 1px solid #ddd; text-align: center; }
#qnbMain .link_menu:hover, #qnbMain .link_menu.on { color: #5f0080; }

/* 최근본상품 */
#qnbMain .side_recent { position: relative; margin-top: 6px; border: 1px solid #ddd; background-color: #fff; }
#qnbMain .side_recent .tit { display: block; padding: 22px 0 6px; text-align: center; }
#qnbMain .side_recent .list_goods { overflow: hidden; position: relative; width: 60px; margin: 0 auto; }
#qnbMain .side_recent .list { position: absolute; left: 0; top: 0; }
#qnbMain .side_recent .link_goods { display: block; overflow: hidden; width: 60px; height: 80px; padding: 1px 0 2px; }

#qnbMain .side_recent .btn { display: block; overflow: hidden; width: 100%; height: 17px; border: 0 none; font-size: 0; line-height: 0; text-indent: -9999px; }
#qnbMain .side_recent .btn_up { position: absolute; left: 0; top: 0; background: url('../img/sidebar/ico_quick_up.webp') no-repeat 50% 50%; }
#qnbMain .side_recent .btn_up:hover { background: url('../img/sidebar/ico_quick_up_hover.webp') no-repeat 50% 50%; }
#qnbMain .side_recent .btn_up.off { background: url(https://res.kurly.com/pc/service/main/2002/ico_quick_up.png) no-repeat 50% 50%; }
#qnbMain .side_recent .btn_down { background: url('../img/sidebar/ico_quick_down.webp') no-repeat 50% 0; }
#qnbMain .side_recent .btn_down:hover { background: url('../img/sidebar/ico_quick_down_hover.webp') no-repeat 50% 0; }
#qnbMain .side_recent .btn_down.off { background: url(https://res.kurly.com/pc/service/main/2002/ico_quick_down.png) no-repeat 50% 0; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    #qnbMain .side_recent .btn_up { background-image: url(https://res.kurly.com/pc/service/main/2002/ico_quick_up_hover_x2.png); background-size: 12px 18px; }
    #qnbMain .side_recent .btn_down { background-image: url(https://res.kurly.com/pc/service/main/2002/ico_quick_down_hover_x2.png); background-size: 12px 18px; }
    #qnbMain .side_recent .btn_up.off { background-image: url(https://res.kurly.com/pc/service/main/2002/ico_quick_up_x2.png); background-size: 12px 18px; }
    #qnbMain .side_recent .btn_down.off { background-image: url(https://res.kurly.com/pc/service/main/2002/ico_quick_down_x2.png); background-size: 12px 18px; }
}

@media all and (max-width: 1250px) {
    #qnbMain { display: none; }
}

/*          .gnb_sub 수정           */
#gnb .gnb_sub { display: none; width: 213px; overflow: hidden; position: absolute; z-index: 301; left: 0; top: 55px; padding-top: 1px;}



