/* 마이페이지용 css / 삭제금지 */

/* ======================================== 마이페이지 주문 내역 ===================================== */
/* 메인페이지 탑 */

#content { padding-bottom: 120px; }
a * { background-color: transparent; text-decoration: none; color: inherit; }
.screen_out { display: block; overflow: hidden; position: absolute; left: -9999px; width: 1px; height: 1px; font-size: 0; line-height: 0; text-indent: -9999px; }
div { display: block; }

#mypage_main 
#mypage_main #content { margin: 0 auto; min-width: 1050px; padding-bottom: 120px; }
#mypage_main #content #content_back { margin: 0 auto; }

.mypagetop_user a { margin-top: 20px; width: 1050px; height: 60px; }
.mypagetop_user a img { width: 1050px; height: 60px; } /* margin-top: 20px; */

.mypage_top { width: 100%; padding: 50px 0; margin-bottom: -20px; background-color: #f7f7f7; }
.mypage_top .bnr_event { background-size: 1050px 60px; background-repeat: no-repeat; background-position: 50% 50%; }

.mypagetop_user { width: 1050px;margin: 0 auto; }
.mypagetop_user .inner_mypagetop { height: 194.667px; }
.mypagetop_user .inner_mypagetop .grade_user { float: left; width: 444px; height: 100%; padding: 28px 0 30px 30px; background-color: #fff; }

.mypage_top .grade_user { height: 136.6667px; padding: 28px 0 30px 30px; box-sizing: border-box; }
.mypage_top .grade_user .ico_grade { box-sizing: border-box;  float: left; width: 64px; height: 64px; margin: 2px 20px 0 0; border-radius: 3px; font-size: 16px; text-align: center; word-break: break-all; } 
.mypage_top .grade_user .class0 { border: 1px solid #5f0080; color: #5f0080; }
.mypage_top .grade_user .ico_grade .ineer_grade { display: table; width: 100%; height: 64px; padding-bottom: 3px; box-sizing: border-box; }
.mypage_top .grade_user .ico_grade .ineer_grade .in_grade { width: 100%; vertical-align: middle; line-height: 18px; font: 16px; display: table-cell; }
.mypage_top .grade_user .grade_bonus { font-size: 12px; line-height: 18px; width: 304px; margin: 0; position: relative; overflow: hidden; box-sizing: border-box; height: 84.667px; }
.mypage_top .grade_user .grade_bonus .bonus { height: 19.3px; padding-top: 2px; box-sizing: border-box; }
.mypage_top .grade_user .grade_bonus .bonus .tit { font-family: noto sans; font-weight: 400;
letter-spacing: 0; color: #5f0080; letter-spacing: -0.7px; }
/* .mypage_top .grade_user .grade_bonus .user { height: 28px; } padding: 2px 0 14px; */

.mypage_top .name { float: left; max-width: 263px; font-weight: 500; font-size: 20px; color: #333; line-height: 28px; overflow: hidden; }
.mypage_top .grade_user .grade_bonus .user .txt { float: left; padding-left: 5px; font-size: 16px; line-height: 28px; }

.mypage_top .next { overflow: hidden; width: 100%; padding: 22px 0 0 84px; }
.mypage_top .next a { float: left; height: 30px; border: 1px solid #f4f4f4; margin-right: 10px; margin-top: 0px !important; padding-top: 4px; border-radius: 15px; line-height: 18px; text-align: center; background-color: #f3f3f3; font-size: 14px; font-weight: 400; letter-spacing: 0; }
.mypage_top .next a.total_gd { width: 121px; margin-right: 10px !important; box-sizing: border-box; }
.mypage_top .next a.next_gd { width: 168px; box-sizing: border-box; margin-right: 10px !important; }

.mypage_top .list_mypage { float: right; width: 602px; }
.mypage_top .list_mypage li { width: 198px; float: left; background-color: #fff; height: 193px; margin-right: 4px; }
.mypage_top .list_mypage li.user_kurlypass { margin: 0; }
.mypage_top .list_mypage li .link { float: left; width: 100%; padding: 29px 0 0 30px; }
.mypage_top .list_mypage li .link .tit { font-size: 14px; padding-bottom: 26px; color: #333; line-height: 18px; }
.mypage_top .list_mypage li .link .info { font-weight: 500; font-size: 20px; color: #5f0080; line-height: 28px; }
.mypage_top .list_mypage li .link .info img { width: 28px; height: 28px; margin: 1px 0 0 -4px; vertical-align: bottom; }
.mypage_top .list_mypage li .link .info .date { display: block; padding-top: 12px; font-size: 12px; color: #999; line-height: 16px; }

/* ------------메인페이지 페이지 아티클-------------- */
.page_aticle { width: 1050px; margin: 0 auto; letter-spacing: 0; }
.page_aticle.aticle_type2 { padding-top: 65px; }
#snb { width: 200px; float: left; }
#snb .tit_snb { font-weight: 500; font-size: 30px; line-height: 34px; color: #333; padding: 8px 0 33px 1px; }
#snb .inner_snb { border: 1px solid #f2f2f2; border-bottom: 0; }
#snb .inner_snb li { border-bottom: 1px solid #f2f2f2; height: 50px; }
#snb .inner_snb li.on { background-color: #fafafa; }
#snb .inner_snb li.on a { color: #5f0080 !important; background: url(/img/mypage/ico_arrow_6x11_on.svg) no-repeat 174px 52%; }
#snb .inner_snb li a { padding: 15px 0 15px 20px; display: block; font-size: 14px; line-height: 20px; font-weight: 500;  color: #4c4c4c; background: url(/img/mypage/ico_arrow_6x11.svg) no-repeat 174px 52%; }
#snb .link_inquire { background-color: #fafafa; }
#snb > a { display: block; width: 200px; height: 60px; margin-top: 20px; padding: 9px 0 0 21px; border-radius: 0 100px 100px 0;  box-sizing: border-box;  background: url(/img/mypage/ico_arrow_6x11_on.svg) no-repeat 174px 52%; }
#snb .link_inquire { padding-top: 11px; text-decoration: none; color: #111; }
#snb > a .emph { font-size: 14px; text-decoration: none; } /* margin-top: 7px; */
.link_inquire p { font-size: 12px; color: #333; } /* margin-top: 8px; */

#viewOrderList { width: 820px; float: right; }
#viewOrderList .head_aticle { padding: 5px 0 34px; } /* height: 36px; */
#viewOrderList .head_aticle .tit { font-size: 24px; font-weight: 500; height: 36px; color: #333; letter-spacing: -0.5px; padding-top: 5px; }
#viewOrderList .head_aticle .tit #text { font-size: 12px; }
#viewOrderList .head_aticle .tit_sub { font-size: 14px; margin-left: 10px; color: #999; vertical-align: 3px; font-weight: 400; }
#viewOrderList .search_date { position: relative; }
.search_date .btn_layer { overflow: hidden; position: absolute; right: 0; top: -70px; width: 157px; height: 44px; padding: 11px 0 0 15px; border: 1px solid #ddd; font-size: 14px; color: #666; line-height: 18px; letter-spacing: -.5px; box-sizing: border-box; margin-top: -5px; }
.search_date .layer_search { display: none; position: absolute; right: 0; top: -30px; width: 157px; border: 1px solid #dddfe1; border-top: 0; z-index: 9999; }
.search_date .layer_search.on {display: block;}
#viewOrderList .list_order { border-top: 2px solid #333; padding-top: 10px; }
#viewOrderList .list_order .date { padding-top: 20px; font-size: 16px; line-height: 24px; font-weight: 500; color: #666; } 
#viewOrderList .list_order .no_data {border-bottom: 1px solid #dddfe1;}
#viewOrderList .list_order .goods_name { padding: 20px 0 13px; border-bottom: 1px solid #dddfe1; }
#viewOrderList .list_order .order_goods { position: relative; margin-top: 10px; padding: 0 20px; border: 1px solid #dddfe1; }

.list_order .order_goods .order_status { display: table; position: absolute; right: 20px; bottom: 0; height: 114px; vertical-align: middle; }
.list_order .order_goods .order_status .inner_status { display: table-cell; vertical-align: middle; }
.list_order .order_goods .order_status .inner_status .link { display: block; width: 100px; height: 34px; border: 1px solid #5f0080; background-color: #fff; font-size: 12px; color: #5f0080; line-height: 23px; text-align: center; cursor: pointer; padding-top: 5px; box-sizing: border-box; }

#viewOrderList .list_order .goods_name a { font-size: 16px; display: block; overflow: hidden; line-height: 24px; font-weight: 500; color: black; cursor: pointer; background: url(../img/mypage/ico_arrow_10x15주문내역\ 상세로\ 이동.webp)no-repeat 100% 1px; }
#viewOrderList .list_order .order_goods .order_info { padding: 14px 0 20px; }

.goods_image { float: left; width: 60px; margin-right: 20px; }
.goods_image img { width: 60px; height: auto; }
.goods_desc { overflow: hidden; padding-top: 1px; }
.goods_desc dl:first-child { padding-top: 3px; }
.goods_desc dl { padding-top: 6px; overflow: hidden; }
.goods_desc dl dt { float: left; padding-right: 15px; font-size: 12px; color: #000; line-height: 20px; }
.goods_desc dl dd { float: left; font-size: 14px; line-height: 20px; font-weight: 500; color: black; }


#viewOrderList .layout_page { margin: 60px 0 0; text-align: center; display: block; vertical-align: bottom; }
#viewOrderList .layout_page .page_div { height: 34px; display: block; }
#viewOrderList .layout_page .page_div span { line-height: 34px ; vertical-align: top; }
#viewOrderList .layout_page .page_div .lay-pg-number { background-color: #f7f7f7; color: #5f0080 !important; text-indent: 1px !important; font-weight: 500; }
#viewOrderList .layout_page .lay-pg-btn { height: 34px;  text-indent: -9999px; }
#viewOrderList .layout_page .lay-pg-first { background: url(../img/mypage/icon-pagination-first.webp)no-repeat 50% 50%; border-left: 1px solid #ddd; border-right: 0 !important; }
#viewOrderList .layout_page .lay-pg-prev { background-image: url(../img/mypage/icon-pagination-prev.webp); border-right: 0; }
#viewOrderList .layout_page .lay-pg-next { background-image: url(../img/mypage/icon-pagination-next.webp); border-left: 0; }
#viewOrderList .layout_page .lay-pg-last { background-image: url(../img/mypage/icon-pagination-last.webp); border-left: 0; }

.lay-pg-first, .lay-pg-prev, .lay-pg-next, .lay-pg-last { background-repeat: no-repeat; background-position: 50% 50%; text-indent: -9999px; }
.lay-pg-btn { display: inline-block; width: 34px; height: 34px; border: 1px solid #ddd; box-sizing: border-box; }

/* ========================================  배송지 관리  ======================================== */
/* 중복 부분은 주문 내역쪽에서 처리 */
table { border-collapse: collapse; border-spacing: 0; }
#viewOrderList #table_list { box-sizing: border-box; }
#table_list #trans_list { box-sizing: border-box; padding: 17px 0 20px; vertical-align: top;  width: 100%; }

#table_list #trans_list th { border-top: 2px solid black; font-size: 13.5px; font-weight: 500; line-height: 20px; color: #333; letter-spacing: -0.5px; padding: 17px 0 20px; vertical-align: top; letter-spacing: 0; }
#table_list #trans_list .tit_select { width: 60px; display: table-cell; }
#table_list #trans_list .tit_address { padding-left: 0; text-indent: -8px; width: auto; }
#table_list #trans_list .tit_receive { width: 120px; }
#table_list #trans_list .tit_hp { width: 100px; }
#table_list #trans_list .tit_t_type { width: 100px; }
#table_list #trans_list .tit_edit { width: 60px; }
#table_list td { border-top:  1px solid #f4f4f4 }
#table_list tr:first-child td { border-top: 1px solid black; }
#table_list tr:last-child td { border-bottom: 1px solid #f4f4f4; }
.page_section .type_sel #addr_list td { height: 90px; font-size: 14px; color: #333; line-height: 22px; letter-spacing: -0.4px; vertical-align: middle; text-align: center; }

.type_radio input[type="radio"] { position: absolute;z-index: -1; opacity: 0; }
.type_radio label { font-size: 14px; line-height: 22px; box-sizing: border-box; margin: 0; padding: 0; max-width: 100%; }
.type_radio label .icon { background: url(../img/mypage/ico_checkbox.webp) no-repeat 50% 50%; display: inline-block; width: 24px; height: 24px; position: relative; margin: 0; vertical-align: middle; box-sizing: border-box; background-size: 24px 24px; }
.type_radio input[type="radio"]:checked+.icon { background: url(../img/mypage/ico_checkbox_checked.webp) no-repeat 50% 50%; background-size: 24px 24px; }

#addr_list .tp_how { box-sizing: border-box; }
#addr_list .transport { color: #666; }
.page_section #trans_list .edit { width: 24px; height: 24px; border: 0 none; font-size: 0; line-height: 0; background: url(../img/mypage/ico_modify.webp) no-repeat 50% 50%; cursor: pointer;  background-size: 24px 24px; vertical-align: 7px; }

/* =========배송지 수정 팝업페이지========== */
#wrap { margin-top: 0 !important; padding: 0 !important; height: 100%; width: 100% !important; }
.layout-main-wrapper { position: relative;}
.section_destinaiton {  height: 100%; padding-bottom: 0; }
.only_pc_pop .pop_head { padding: 20px 0 0 30px; font-weight: 500; line-height: 36px; letter-spacing: -.5px; font-size: 24px; }
#inputForm { box-sizing: border-box; }
#inputForm .only_pc { position: static; }
#inputForm .only_pc.modify { padding: 0 30px; }
.section_destinaiton .only_pc .badge_default { margin-bottom: 11px; font-weight: 500; }
.badge_default { display: inline-block; height: 22px; padding: 5px 8px 0 8px; border-radius: 11px; background-color: #f7f7f7; vertical-align: top;  margin-bottom:15px; }

.section_destination {width: 100%;  padding-bottom: 0; max-width: 500px; position: relative;}
.section_destination .only_pc.modify { padding: 0 30px;}
.section_destination .only_pc.modify .field { padding-top: 22px; }
.section_destination .only_pc.modify .address { padding-bottom: 12px; font-weight: 500; font-size: 16px; line-height: 24px; letter-spacing: -.3px; width: 100%; }
.section_destination .only_pc input[type=text] { height: 44px; padding: 1px 11px 0 15px; border-radius: 3px; font-weight: 500; font-size: 14px; letter-spacing: -.5px; outline: 0px;  border: 1px solid #ddd; width: 45%; }
.section_destination .only_pc.modify .label_block { padding-bottom: 7px; font-weight: 500; font-size: 14px; line-height: 20px; letter-spacing: -.3px; }

.section_destination .only_pc.modify .btn.active { margin-top: 30px; }
.section_destination .only_pc.modify .btn { height: 44px; border-radius: 3px; font-weight: 500; font-size: 14px; line-height: 42px; width: 45%; }

/* ============================================늘 사는 것 ======================================== */
#Z_list { border-bottom:  1px solid #ddd; box-sizing: border-box; width: 820px; }
#Z_list thead tr th { padding: 20px 0; border-top: 2px solid #333; font-weight: 500; line-height: 20px; font-size: 14px; }
#Z_list thead tr th:first-child { width: 40px; }
#Z_list thead tr th:nth-child(2) { width: 150px; }
#Z_list thead tr th:last-child { width: 164px; }
#Z_list .label_check { display: inline-block; padding: 0 21px 0 6px; background: none; font-size: 14px; color: #000; line-height: 18px; cursor: pointer; white-space: nowrap; }
/* background: #fff url(../img/mypage/ico_checkbox_off.webp) no-repeat 0 2px; */

#Z_list input[type=checkbox] {display: none !important;}
#Z_list .check_ico {background: #fff url(/img/mypage/ico_checkbox_off.webp) no-repeat 0 2px; display: block !important ; width: 25px; height: 25px;}
#Z_list input[type=checkbox]:checked + .check_ico {background: #fff url(../img/mypage/ico_checkbox_on.webp)no-repeat 0 2px;}
/*   */
.label_check .icon_check { opacity: 1; z-index: 9999; position: relative; cursor: pointer; vertical-align: top;}

#Z_list tbody tr:first-child td { border-top: 1px solid black; }
#Z_list tbody tr { box-sizing: border-box; }
#Z_list tbody .hasNone{display: none;}
#Z_list tbody tr td { border-top: 1px solid #f4f4f4; height: 156px; }
#Z_list .thumb img { width: 90px; }
#Z_list .info { width: 463px; box-sizing: border-box; }
#Z_list .info .name { padding-bottom: 23px; width: 463px; }
#Z_list .info .name a { font-size:  16px; line-height: 24px; font-weight: 500; color: #4c4c4c; }
#Z_list tbody .group_btn { padding-top: 0; text-align: right; width: 100%; box-sizing: border-box; }
#Z_list tbody .group_btn .btn { display: block; float: none; width: 100px; height: 29px; margin: 0% auto; line-height: 27px; }
#Z_list tbody .group_btn .btn_posi { border: 1px solid #5f0080; background-color: #795b8f; color: #fff; font-size: 14px; border-radius: 0px; }
#Z_list tbody .group_btn .btn_nega { margin-top: 5px; border: solid 1px; color: #5f0080; font-size: 14px; max-width: 100%; background-color: #fff; border-radius: 0px; }

.group_btn { overflow: hidden; width: 100%; text-align: right; }
.group_btn .inner_groupbtn { display: inline-block;  text-align: right; box-sizing: border-box; }
.group_btn .btn { overflow: hidden; float: left; width: 150px; height: 42px; font-size: 13px; line-height: 40px; text-align: center; cursor: pointer; box-sizing: border-box; }
.group_btn.bot_btn { padding-top: 39px; }
.inner_groupbtn .Zzim { border: 1px solid #5f0080; color: #5f0080; border-radius: 0px; }
.group_btn .space { float: left; width: 6px; height: 42px; }




/* ========================================  상품 후기  ======================================== */
.page_section { float: right; width: 820px; box-sizing: border-box; margin: 0; padding: 0; }
.page_section .head_aticle { padding-bottom: 20px; padding-top: 5px; }
.head_aticle .tit { height: 36px; font-weight: 500; font-size: 24px; line-height: 36px; color: #333; letter-spacing: -.5px; }
#reviewview { box-sizing: border-box; }
#reviewview .review_notice { font-size: 14px; color: #999; line-height: 22px; letter-spacing: -.3px; }
.section_review .review_notice b { font-weight: 400; }
.section_review .tab_menu { overflow: hidden; padding-top: 30px; }
.section_review .tab_menu li { float: left; width: 410px; height: 50px; background-color: #fff; }
.section_review .tab_menu .on a { border-bottom: 2px solid #5f0080; font-weight: 500; color: #5f0080; }
.section_review .tab_menu a { display: block; overflow: hidden; width: 100%; height: 100%; border: solid 1px #dddfe1; font-size: 14px; line-height: 44px; text-align: center; box-sizing: border-box; color: #666; }

.section_review .list_before { padding-top: 10px; }
.section_review .list_before .tit_item { display: block; padding-top: 20px; font-size: 12px; line-height: 18px; color: #666; font-weight: 500; }

.item { overflow: hidden; position: relative; margin-top: 10px; padding: 19px 29px 18px; border: 1px solid #dddfe1; }
.section_review .list_before .thumb { float: left; width: 80px; margin-right: 20px; cursor: pointer; }
.section_review .list_before .name { display: table; float: left; width: 400px; height: 100px; }
.section_review .list_before .inner_name { display: table-cell; vertical-align: middle; }
.section_review .list_before .main_name { font-size: 16px; line-height: 24px; font-weight: 500; color: #000; cursor: pointer; }
.section_review .list_before .num { display: table; padding-top: 16px; }
.section_review .list_before .date { display: table; float: left; width: 110px; height: 100px; text-align: center; box-sizing: border-box; }
.section_review .list_before .inner_date { display: table-cell; vertical-align: middle; }

.section_review .list_before .start { font-size: 12px; color: #666; line-height: 18px; }
.section_review .list_before .btn_write { overflow: hidden; position: absolute; right: 29px; top: 50%; margin-top: -17px; width: 100px; height: 34px; border: 1px solid #512771; background-color: #5f0080; font-size: 12px; color: #fff; line-height: 32px; letter-spacing: -.3px; text-align: center; box-sizing: border-box; }
#viewAfterList { box-sizing: border-box; }
.section_review .list_after .tit_after { padding: 25px 30px 17px; border-bottom: 1px solid #e9e9e9; }
.section_review .list_after .main_name { font-size: 14px; line-height: 24px; font-weight: 500; color: #000; cursor: pointer; }
.section_review .list_after .cont_after { padding-bottom: 20px; }
.section_review .list_after .desc_after { display: block; overflow: hidden; padding: 14px 30px 0; cursor: pointer; }
.section_review .list_after .subject { display: block; overflow: hidden; width: 100%; position: relative; padding-right: 120px; font-size: 14px; line-height: 20px; font-weight: 500; color: #000; white-space: nowrap; text-overflow: ellipsis; box-sizing: border-box; }
.section_review .list_after .date { position: absolute; right: 0; top: 0; font-size: 12px; color: #949296; line-height: 20px; text-align: right; }
.section_review .list_after li.item_view .txt { max-height: none !important; padding-top: 0; display: block; -webkit-line-clamp: inherit; } 
.section_review .list_after li { border-bottom: 2px solid #ddd; }
.section_review .list_after .on .txt { display: block; overflow: hidden; max-height: none !important; padding-top: 10px; font-size: 12px; color: #000; line-height: 20px; word-wrap: break-word; text-overflow: ellipsis;  }




/* 요건 클릭시 변경되는 CSS  (문장기준 아래꺼 의미)*/

.section_review .list_after li.item_view .view { display: block; padding-top: 20px; }

.section_review .list_after .on .btn_after { overflow: hidden; padding: 20px 30px 0; }
.section_review .list_after .on li.item_view .btn_help { padding-top: 16px; }
.section_review .list_after .on .btn_help { float: left; padding-top: 0; border: 0; background: 0 0; font-size: 12px; color: #666; line-height: 18px; cursor: default; }
.section_review .list_after .on li.item_view .btn { display: block; }
.section_review .list_after .on .btn_del { padding-top: 1px; }
.section_review .list_after .on .btn { display: block; float: right; height: 34px; padding: 0 13px 0 12px; font-size: 12px; color: #5f0080; line-height: 32px; text-align: center; cursor: pointer; width: unset; z-index: 99999;}
.section_review .list_after .on .btn_modify { margin-left: 28px; border: 1px solid #5f0080; }

.tab_menu_cont{display: none;}
.tab_menu_cont.on{display: block;}

.section_review .list_after .desc {display: none;}
.section_review .list_after .view {display: block;}
.section_review .list_after .on .desc {display: block;}
.section_review .list_after .on .view {display: none;}


/* ======================================= 후기 작성 페이지 ================================== */
.page_aticle.aticle_type2 .page_section { float: right; width: 820px; }
#form_review { box-sizing: border-box; margin: 0; padding: 0; line-height: 1; font-size: 12px; color: #4c4c4c; }
#form_review .write_board { box-sizing: border-box; }
.section_write .goods_info { overflow: hidden; padding: 20px 15px; border-top: 2px solid #5f0080; }
.section_write .head_section { position: relative; }
.section_write .head_section .link a { position: absolute; right: 10px; top: -25px; background: url(../img/mypage/ico_question.webp) no-repeat 100% -0.3px; text-decoration: none !important; color: #949296; padding-right: 15px; }
.section_write  .goods_info .thumb { width: 80px; float: left; margin-right: 25px; }
.section_write  .goods_info .thumb img { width: 100%; }
.section_write  .goods_info .desc { display: table; height: 104px; vertical-align: middle; }
.section_write  .goods_info .desc { display: table-cell; vertical-align: middle; }
.section_write  .goods_info .desc .name_main { font-size: 16px; color: #000; line-height: 24px; padding-top: 4px; }
.section_write .write_board .tbl { border-bottom: 1px solid #dddfe1; width: 100%; }
.section_write .write_board th { border-top: 1px solid #dddfe1; background-color: #f7f7f7;font-size: 12px; color: #666; font-weight: 500; }
.section_write .write_board td { padding: 10px 0 10px 10px; border-top: 1px solid #dddfe1; box-sizing: border-box; }
.section_write .write_board .inp { width: 100%; height: 34px; padding: 0 10px; border: 1px solid #dddfe1; font-size: 12px; color: #000; line-height: 18px; box-sizing: border-box; outline: none; }
.section_write .write_board .inp.on { border: 1px solid #514859; }
.inp::placeholder { color: #dddfe1; }


.write_board .btn_upload { position: relative; float: left; width: 80px; height: 80px; margin: 10px 0; border: 1px solid #dddfe1; background: url(../img/mypage/img_add_thumb.webp) no-repeat 50% 50%; }
.write_board .file_upload { position: absolute; left: 0; top: 0; width: 100%; height: 100%; font-size: 0; line-height: 0; text-indent: -9999px; opacity: 0; cursor: pointer; }

.section_write .write_board .photo_notice { padding-bottom: 10px; font-size: 12px; color: #666; line-height: 18px; }
.section_write .write_board .file_count { position: relative; }
.section_write .write_board .file_count .txt_count { position: absolute; right: 11px; top: 0; color: #949296; }
.section_write .write_board .field_cmt { padding: 8px 10px 9px; border: 1px solid #dddfe1; position: relative; }
.section_write .write_board .photo_add { padding-right: 100px; width: 100%; }
.section_write .write_board .photo_add:after { content: ""; display: block; overflow: hidden; clear: both; }



.section_write .write_board .field_cmt textarea { border:0; width: 100%; min-height: 202px; box-sizing: border-box; line-height: 18px; resize: none; overflow: hidden; outline: none; }
.section_write .write_board .field_cmt.on { border: 1px solid #514859; }
.section_write .write_board .field_cmt textarea::placeholder { color: #dddfe1; }
.section_write .write_board .field_cmt p { position: absolute; right: 10px; bottom: 10px; color: #999; }

.section_write .link_inquire { padding: 20px 0 50px; font-size: 12px; color: #949296; line-height: 18px; }
.section_write .link_inquire a { padding: 0 9px 0 5px; background: url(../img/mypage/ico_arrow_6x10.webp) no-repeat 100% 4px; font-weight: 500; color: #5f0080; }
.section_write .btn_reg { display: block; width: 200px; height: 48px; margin: 0 auto; border: 1px solid #5f0080; background-color: #5f0080; font-size: 14px; color: #fff; line-height: 46px;
}
.section_write .btn_reg.btn_disabled { border: 1px solid #dddfe1; background-color: #fff; color: #dddfe1; }


.section_write.review_section .layer {
    display: none;
    position: absolute;
    right: 0;
    top: -30px;
    width: 400px;
    height: 400px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #dddfe1;
}
.layer_type .layer {z-index: 99999;}

/* ========================================  적립금  ======================================== */
.page_aticle .head_aticle{ padding-bottom: 34px; }
.page_aticle .head_aticle .tit_sub { padding-left: 11px; font-size: 14px; color: #999; line-height: 20px; letter-spacing: -.3px; vertical-align: 3px; }
#viewPointList { box-sizing: border-box; margin: 0 auto; padding: 0; }
#viewPointList .point_header { box-sizing: border-box; overflow: hidden; height: 100px; border: 1px solid #ddd; }
#viewPointList .point_header .point_view { float: left ; width: 409px; border-right: 1px solid #ddd; box-sizing: border-box; }
#viewPointList .point_header .tit { float: left; padding: 38px 20px 0 60px; font-size: 14px; color: #000; line-height: 20px; } 
#viewPointList .point_header .point { float: left; width: 260px; padding: 34px 59px 36px 0; font-size: 20px; line-height: 30px; font-weight: 500; color: #5f0080; text-align: right; box-sizing: border-box; }

.point_header .disappear { float: left; width: 408px; box-sizing: border-box; }
.point_header .subject { float: left; padding: 29px 0 0 60px; font-size: 14px; color: #000; line-height: 20px; }
.point_header .subject.no_day { padding-top: 38px; }
.point_header .num { box-sizing: border-box; float: right; width: 200px; padding: 34px 58px 36px 0; font-size: 20px; line-height: 30px; font-weight: 500; color: #5f0080; text-align: right; }

.section_point .tbl { width: 100%; display: table; }
.section_point .tbl_type1 { margin-top: 40px; }
.tbl thead { display: table-header-group; vertical-align: middle; border-color: inherit; }
.tbl thead tr { display: table-row; vertical-align: inherit; width: 100%; }
.tbl_type1 th { padding: 20px 0; border-top: 2px solid #333; font-weight: 500; font-size: 14px; line-height: 20px; color: #333; letter-spacing: -.5px; }

.tbl_type1 th.info { text-align: left; padding-left: 20px; }
.tbl_type1 th:first-child { width: 120px; box-sizing: border-box; }

.tbl_type1 tr:first-child td { border-top: 1px solid #333 !important; }
.section_point tr:first-child td { border-top: 2px solid #ddd; }
.section_point td { padding-top: 16px; padding-bottom: 16px; font-size: 14px; color: #000; line-height: 20px; text-align: center; }
.section_point .tbl_type1 td { border-top: 1px solid #f4f4f4; }
td.info { text-align: left; padding-left: 20px; }

.page_section .layout_page { margin: 60px 0 0; text-align: center; display: block; vertical-align: bottom; }
.page_section .layout_page .page_div { height: 34px; display: block; }
.page_section .layout_page .page_div span { line-height: 34px ; vertical-align: top; }
.page_section .layout_page .page_div .lay-pg-number { background-color: #f7f7f7; color: #5f0080 !important; text-indent: 1px !important; font-weight: 500; }
.page_section .layout_page .lay-pg-btn { height: 34px;  text-indent: -9999px; }
.page_section .layout_page .lay-pg-first { background: url(../img/mypage/icon-pagination-first.webp)no-repeat 50% 50%; border-left: 1px solid #ddd; border-right: 0 !important; }
.page_section .layout_page .lay-pg-prev { background-image: url(../img/mypage/icon-pagination-prev.webp); border-right: 0; }
.page_section .layout_page .lay-pg-next { background-image: url(../img/mypage/icon-pagination-next.webp); border-left: 0; }
.page_section .layout_page .lay-pg-last { background-image: url(../img/mypage/icon-pagination-last.webp); border-left: 0; }


/* ============================== 쿠 폰 =============================== */

.page_section .coupon_reg { padding: 19px 0 14px 29px; border: 1px solid #ddd; }
.coupon_reg form { box-sizing: border-box; }
.coupon_reg legend { display: none; }
.coupon_reg fieldset {border: none; }
.coupon_reg .inp { float: left; width: 210px; height: 34px; box-sizing: border-box; border: 1px solid #514859; font-size: 12px; line-height: 32px; color: #000; padding: 0 10px; letter-spacing: -.6px; margin-right: 20px; }
.coupon_reg .btn { float: left; width: 140px; height: 34px; border: 0; background-color: #5f0080; color: #fff; line-height: 32px; font-size: 12px; letter-spacing: .1px; }
.coupon_reg .reg { overflow: hidden; width: 100%; }
.coupon_reg .notice { padding-top: 13px ; font-size: 12px; color: #b3130b; line-height: 18px; }


.section_point .coupon_count { overflow: hidden; padding: 33px 0 12px; color: #666; line-height: 18px; }
.section_point .coupon_count .ico { float: left; width: 4px; height: 4px; margin-top: 7px; background-color: #514859; }
.section_point .coupon_count .txt { float: left; padding-left: 6px; font-size: 12px; }
.section_point .coupon_count .count { float: right; padding-right: 8px; font-size: 13px; letter-spacing: -.6px; }
.section_point .coupon_count .tit { padding-right: 9px; font-size: 14px; }
.coup { margin: 0 !important; }
.coup colgroup { box-sizing: border-box; }
.section_point th.name { padding-left: 10px; text-align: left; width: auto; }
.section_point td.name { padding: 16px 10px; text-align: left; }
.section_point .txt_sub { display: block; padding-top: 1px; font-size: 12px; }

/* ========================================  개인 정보 수정  ======================================== */
.page_section { box-sizing: border-box; margin: 0; padding: 0; } 
.page_section .type_form { box-sizing: border-box; }
.field_pw .tit { font-size: 18px; font-weight: 500;padding: 0 0 8px; }
.field_pw .sub { padding-bottom: 20px; font-size: 12px; color: #666; line-height: 17px; }
.member_pw { width: 820px; }
.field_pw form { box-sizing: border-box; margin: 0; padding: 0; }
.tbl_comm { width: 100%; border-top: 2px solid #333 !important; border-collapse: unset; }
.tbl_comm .fst { margin-bottom: 2px; box-sizing: unset; }
.tbl_comm .fst th { padding-top: 28px; margin-bottom: 2px; }
.type_form th { width: 259px; box-sizing: border-box; } /* padding-left: 120px !important; */
.member_pw th { padding: 19px 0 0 20px; font-weight: 500; font-size: 14px; color: #333; line-height: 20px; vertical-align: top; text-align: left; }

.member_pw .tbl_comm .fst td { padding-top: 19px !important; margin-bottom: 2px; }
.member_pw td { padding: 10px 0; border-top: 0 !important; font-size: 14px; vertical-align: top; text-align: left; }
.type_form input[type=text], .type_form input[type="password"] { height: 43px; padding: 0 14px; border: 1px solid #ccc; font-size: 14px; color: #333; line-height: 20px; border-radius: 3px; background: #fff; vertical-align: top; box-sizing: border-box; width: 332px; }
.tbl_comm .icon { color: #ee6a7b; text-align: left; font-size: 14px; line-height: 20px; font-weight: 400; margin-left: -3px; }
.member_pw tr:last-child th, .member_pw tr:last-child td { padding-bottom: 19px; border-bottom: 1px solid #ddd; }

.btn.active { border: 1px solid #5f0081; background-color: #5f0080; color: #fff; }
.member_pw .active { display: block; width: 240px; height: 56px; margin: 40px auto 0; font-size: 16px; line-height: 54px; }

/* ================================ 개인 정보 수정 세부=========================================*/
.type_form input[type=checkbox] { position: absolute; z-index: -1; opacity: 0; }

.type_form .btn.default { border: 1px solid #5f0080; background-color: #fff; color: #5f0080; box-sizing: border-box; }

.type_form .tbl_comm { width: 100%; border-top: 2px solid #333; display: table; }
.type_form .tbl_comm tbody { display: table-row-group; vertical-align: middle; }
.type_form .tbl_comm tbody tr { display: table-row; box-sizing: border-box; }
.tbl_comm .fst th { padding-top: 29px; }
.member_mod th .ico { display: none; }
.member_join th { padding: 20px 0 0 20px; font-weight: 500; font-size: 14px; color: #333; line-height: 20px; vertical-align: top; text-align: left; box-sizing: border-box; } /* width: 159px; */

.member_join .tbl_comm .fst td { padding-top: 19px; border-top: none ; }
.member_join td { padding: 10px 0; border-top: 0; font-size: 14px; vertical-align: top; text-align: left; }



.member_join .btn { vertical-align: top; width: 240px !important; } /*  display: inline-block !important; margin-left: 5px; */
.field_phone { box-sizing: border-box; }

/* sex */
.member_join .select_sex label { display: inline-block; padding: 10px 52px 10px 0; vertical-align: top; }
.type_form input[type=radio] { position: absolute; z-index: -1; opacity: 0; }
.type_form input[type=radio]+.ico { display: inline-block; position: relative; width: 24px; height: 24px; margin-right: 12px; border: 1px solid #ddd; background-color: #fff; border-radius: 100%; vertical-align: -7px; }
.type_form input[type=radio]:checked+.ico { border: 1px solid #5f0081; background-color: #5f0080; }
.type_form input[type=radio]:checked+.ico:after { content: ""; position: absolute; left: 50%; top: 50%; width: 10px; height: 10px; margin: -5px 0 0 -5px; border-radius: 100%; background-color: #fff; }
/* birth */
.member_join .birth .birth_day { overflow: hidden; width: 332px; padding-left: 18px; border: 1px solid #ccc; border-radius: 3px; box-sizing: border-box; }
.member_join .birth .birth_day input[type=text] { float: left; width: 84px; height: 40px; border: 0; text-align: center; }

.member_join .birth .bar:after { content: "/"; float: left; width: 22px; height: 100%; font-size: 14px; color: #ccc; line-height: 42px; text-align: center; }

/* agree */
.type_form input[type=checkbox]+.ico { display: inline-block; position: relative; width: 24px; height: 24px; margin-right: 12px; border: 0; background: url(../img/mypage/ico_checkbox.svg) no-repeat 50% 50%; background-size: 24px 24px; vertical-align: -7px; }
.type_form input[type=checkbox]:checked+.ico { background: url(../img/mypage/ico_checkbox_checked.svg) no-repeat 50% 50%; background-size: 24px 24px; }
.reg_agree { box-sizing: border-box; }
.reg_agree .check_agree { height: 100%; }
.reg_agree .check_view { width: 350px; position: relative; height: 40px; vertical-align: middle; }
.member_join .btn_link { position: absolute; right: 22px; top: 0; padding-top: 10px; font-size: 14px; color: #5f0080; line-height: 18px; letter-spacing: 0; }
.member_join .btn_link:after { content: ''; display: inline-block; margin-top: 4px; width: 6px; height: 9px; background: url(https://res.kurly.com/pc/service/common/2006/ico_arrow_6x9.svg) no-repeat 50% 0; background-size: 6px 9px; vertical-align: top; }
.type_form label.label_block { display: block; padding: 15px 0 13px; }


.type_form .txt_guide .txt.bad { color: #b3130b; }
.type_form .txt_guide .txt.bad:before { content: '\2715'; display: inline-block; padding-right: 3px; font-size: 12px; vertical-align: 0; }

.type_form input[type=text], .type_form input[type="password"] { height: 44px; padding: 0 14px; border: 1px solid #ccc; font-size: 14px; color: #333; line-height: 20px; border-radius: 3px; background: #fff; vertical-align: top; box-sizing: border-box; width: 332px; }
.type_form .btn.active { border: 1px solid #5f0081; background-color: #5f0080; color: #fff; }
.type_form .btn { display: block; width: 100%; border: 0; border-radius: 3px; font-weight: 500; font-size: 14px; line-height: 40px; text-align: center; outline: none; } /* height: 44px; */
.type_form .square .txt:before { content: '\2022'; display: inline-block; padding: 0 4px 0 2px; font-size: 12px; vertical-align: 0; }
.type_form .txt_guide { display: block; padding: 10px 0 9px; font-size: 12px; color: #666; line-height: 18px; word-break: break-all; letter-spacing: -.1px; clear: both; width: 332px; }

.member_join .form_footer { padding-top: 40px; text-align: center; }